﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:33px;
  width:487px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:84px;
  width:1130px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1130px;
  height:1px;
}
#u3 {
  position:absolute;
  left:70px;
  top:135px;
  width:824px;
  height:66px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:66px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  white-space:nowrap;
}
