﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5068px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:296px;
  top:58px;
  width:234px;
  height:42px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:43px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:145px;
  width:215px;
  height:382px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u3 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:44px;
  top:145px;
  width:215px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:44px;
  top:161px;
  width:215px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:29px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:53px;
  top:167px;
  width:92px;
  height:16px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:52px;
  top:195px;
  width:196px;
  height:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:199px;
  width:16px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:81px;
  top:202px;
  width:48px;
  height:11px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:245px;
  top:165px;
  width:4px;
  height:4px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:245px;
  top:173px;
  width:4px;
  height:4px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:245px;
  top:181px;
  width:4px;
  height:4px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:134px;
  top:477px;
  width:36px;
  height:36px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:134px;
  top:487px;
  width:35px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u24_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:26px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:35px;
  height:1px;
}
#u25 {
  position:absolute;
  left:134px;
  top:487px;
  width:36px;
  height:10px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u25_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u26 {
  position:absolute;
  left:130px;
  top:487px;
  width:44px;
  height:14px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:112px;
  top:368px;
  width:76px;
  height:19px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:35px;
  top:36px;
  width:256px;
  height:67px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#990000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:68px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:35px;
  top:95px;
  width:5033px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:5024px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:5033px;
  height:1px;
}
#u33 {
  position:absolute;
  left:109px;
  top:286px;
  width:76px;
  height:71px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:72px;
}
#u34 {
  position:absolute;
  left:2px;
  top:28px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:2760px;
  width:5033px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:5024px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:5033px;
  height:1px;
}
