﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:190px;
  width:320px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:491px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:220px;
  width:80px;
  height:260px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:261px;
}
#u3 {
  position:absolute;
  left:2px;
  top:122px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:220px;
  width:120px;
  height:260px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:261px;
}
#u5 {
  position:absolute;
  left:2px;
  top:122px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:630px;
  width:31px;
  height:31px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:330px;
  top:220px;
  width:80px;
  height:260px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:261px;
}
#u9 {
  position:absolute;
  left:2px;
  top:122px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:120px;
  top:500px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:118px;
  top:556px;
  width:58px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:226px;
  top:500px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:236px;
  top:556px;
  width:27px;
  height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:330px;
  top:500px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:346px;
  top:556px;
  width:21px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:282px;
  top:640px;
  width:189px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:180px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u23 {
  position:absolute;
  left:490px;
  top:580px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:101px;
}
#u24 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:746px;
  top:190px;
  width:320px;
  height:490px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:491px;
}
#u26 {
  position:absolute;
  left:2px;
  top:237px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:964px;
  top:220px;
  width:120px;
  height:260px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:261px;
}
#u28 {
  position:absolute;
  left:2px;
  top:122px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:896px;
  top:630px;
  width:31px;
  height:31px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:998px;
  top:500px;
  width:50px;
  height:50px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1010px;
  top:556px;
  width:27px;
  height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:660px;
  top:630px;
  width:75px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:66px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:75px;
  height:1px;
}
#u36 {
  position:absolute;
  left:1042px;
  top:220px;
  width:35px;
  height:35px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:77px;
  top:60px;
  width:493px;
  height:40px;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:41px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:17px;
  top:117px;
  width:1133px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:1124px;
  top:-5px;
  width:14px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1133px;
  height:1px;
}
#u41 {
  position:absolute;
  left:733px;
  top:720px;
  width:558px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:70px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:810px;
  top:220px;
  width:124px;
  height:260px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:261px;
}
#u44 {
  position:absolute;
  left:2px;
  top:122px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:848px;
  top:500px;
  width:50px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:846px;
  top:556px;
  width:58px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:746px;
  top:220px;
  width:44px;
  height:260px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:261px;
}
#u50 {
  position:absolute;
  left:2px;
  top:122px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
