﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:33px;
  width:877px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:84px;
  width:1480px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1480px;
  height:1px;
}
#u3 {
  position:absolute;
  left:80px;
  top:330px;
  width:490px;
  height:66px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:66px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:80px;
  top:140px;
  width:590px;
  height:140px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:140px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:80px;
  top:476px;
  width:490px;
  height:154px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:154px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
