﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:40px;
  width:278px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:95px;
  width:1320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:60px;
  top:150px;
  width:178px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:80px;
  top:188px;
  width:716px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:36px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:60px;
  top:278px;
  width:98px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:80px;
  top:316px;
  width:500px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:60px;
  top:436px;
  width:275px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:80px;
  top:474px;
  width:569px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:36px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:60px;
  top:576px;
  width:238px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:80px;
  top:614px;
  width:443px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:36px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:60px;
  top:710px;
  width:229px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:80px;
  top:748px;
  width:595px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:36px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  white-space:nowrap;
}
