﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:161px;
  top:200px;
  width:308px;
  height:541px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:161px;
  top:240px;
  width:308px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u3 {
  position:absolute;
  left:167px;
  top:211px;
  width:22px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:193px;
  top:209px;
  width:81px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:422px;
  top:211px;
  width:30px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:180px;
  top:252px;
  width:270px;
  height:109px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:109px;
}
#u10 {
  position:absolute;
  left:2px;
  top:46px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:211px;
  top:258px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:183px;
  top:258px;
  width:30px;
  height:26px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u14 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:213px;
  top:316px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:370px;
  top:319px;
  width:68px;
  height:23px;
  font-size:20px;
  color:#515151;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:180px;
  top:377px;
  width:270px;
  height:109px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:109px;
}
#u20 {
  position:absolute;
  left:2px;
  top:46px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:211px;
  top:383px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:214px;
  top:441px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:370px;
  top:445px;
  width:68px;
  height:23px;
  font-size:20px;
  color:#515151;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:180px;
  top:504px;
  width:270px;
  height:109px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:109px;
}
#u28 {
  position:absolute;
  left:2px;
  top:46px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:211px;
  top:510px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:213px;
  top:568px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:370px;
  top:572px;
  width:68px;
  height:23px;
  font-size:20px;
  color:#515151;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:180px;
  top:623px;
  width:270px;
  height:109px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:109px;
}
#u36 {
  position:absolute;
  left:2px;
  top:46px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:211px;
  top:629px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:212px;
  top:687px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:370px;
  top:691px;
  width:68px;
  height:23px;
  font-size:20px;
  color:#515151;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:390px;
  top:211px;
  width:140px;
  height:140px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u44 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:433px;
  top:349px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:730px;
  top:200px;
  width:308px;
  height:541px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u48 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:730px;
  top:240px;
  width:308px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u50 {
  position:absolute;
  left:736px;
  top:211px;
  width:22px;
  height:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u51 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:757px;
  top:203px;
  width:272px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:788px;
  top:211px;
  width:188px;
  height:25px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:795px;
  top:213px;
  width:113px;
  height:22px;
  font-size:16px;
  color:#BCBCBC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:757px;
  top:258px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#BCBCBC;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:758px;
  top:287px;
  width:85px;
  height:47px;
  color:#CCCCCC;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u61 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:842px;
  top:287px;
  width:85px;
  height:47px;
  color:#CCCCCC;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u63 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:925px;
  top:287px;
  width:85px;
  height:47px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u65 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:758px;
  top:333px;
  width:85px;
  height:47px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u67 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:842px;
  top:333px;
  width:85px;
  height:47px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u69 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:925px;
  top:333px;
  width:85px;
  height:47px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u71 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:758px;
  top:379px;
  width:85px;
  height:47px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u73 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:842px;
  top:379px;
  width:85px;
  height:47px;
  color:#CCCCCC;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u75 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:925px;
  top:379px;
  width:85px;
  height:47px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u77 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:758px;
  top:425px;
  width:85px;
  height:47px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u79 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:842px;
  top:425px;
  width:85px;
  height:47px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u81 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:925px;
  top:425px;
  width:85px;
  height:47px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:47px;
}
#u83 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:537px;
  top:447px;
  width:110px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u85 {
  position:absolute;
  left:525px;
  top:407px;
  width:135px;
  height:41px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1010px;
  top:274px;
  width:88px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u88 {
  position:absolute;
  left:1118px;
  top:271px;
  width:302px;
  height:253px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:253px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1012px;
  top:213px;
  width:88px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u91 {
  position:absolute;
  left:1110px;
  top:211px;
  width:135px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:690px;
  top:213px;
  width:46px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u94 {
  position:absolute;
  left:582px;
  top:210px;
  width:105px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:161px;
  top:851px;
  width:308px;
  height:541px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u97 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:161px;
  top:891px;
  width:308px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u99 {
  position:absolute;
  left:167px;
  top:862px;
  width:22px;
  height:22px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u100 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:189px;
  top:854px;
  width:272px;
  height:40px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:40px;
}
#u102 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:219px;
  top:862px;
  width:188px;
  height:25px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:227px;
  top:864px;
  width:28px;
  height:18px;
  font-size:16px;
  color:#BCBCBC;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:730px;
  top:581px;
  width:308px;
  height:160px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:160px;
}
#u108 {
  position:absolute;
  left:2px;
  top:72px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1030px;
  top:625px;
  width:88px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u110 {
  position:absolute;
  left:1128px;
  top:623px;
  width:135px;
  height:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:161px;
  top:1232px;
  width:308px;
  height:160px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:160px;
}
#u113 {
  position:absolute;
  left:2px;
  top:72px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:425px;
  top:867px;
  width:18px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u115 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:443px;
  top:869px;
  width:98px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:81px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:98px;
  height:1px;
}
#u117 {
  position:absolute;
  left:551px;
  top:867px;
  width:135px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:161px;
  top:904px;
  width:308px;
  height:47px;
  text-align:left;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u120 {
  position:absolute;
  left:2px;
  top:14px;
  width:304px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:161px;
  top:950px;
  width:308px;
  height:47px;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u122 {
  position:absolute;
  left:2px;
  top:14px;
  width:304px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:161px;
  top:996px;
  width:308px;
  height:47px;
  color:#000000;
  text-align:left;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u124 {
  position:absolute;
  left:2px;
  top:14px;
  width:304px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:161px;
  top:1043px;
  width:308px;
  height:47px;
  color:#000000;
  text-align:left;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u126 {
  position:absolute;
  left:2px;
  top:14px;
  width:304px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:161px;
  top:1090px;
  width:308px;
  height:47px;
  color:#000000;
  text-align:left;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u128 {
  position:absolute;
  left:2px;
  top:14px;
  width:304px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:161px;
  top:1137px;
  width:308px;
  height:47px;
  color:#000000;
  text-align:left;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u130 {
  position:absolute;
  left:2px;
  top:14px;
  width:304px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:161px;
  top:1182px;
  width:308px;
  height:47px;
  color:#000000;
  text-align:left;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u132 {
  position:absolute;
  left:2px;
  top:14px;
  width:304px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:479px;
  top:931px;
  width:98px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:81px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:98px;
  height:1px;
}
#u134 {
  position:absolute;
  left:587px;
  top:929px;
  width:563px;
  height:432px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:432px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:443px;
  top:110px;
  width:200px;
  height:54px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:54px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:424px;
  top:192px;
  width:65px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:48px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  height:1px;
}
