﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:49px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:100px;
  top:200px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:111px;
  top:204px;
  width:339px;
  height:42px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:42px;
}
#u6 {
  position:absolute;
  left:2px;
  top:13px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:116px;
  top:210px;
  width:34px;
  height:34px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:155px;
  top:214px;
  width:199px;
  height:26px;
  font-size:18px;
  color:#CCCCCC;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:100px;
  top:270px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:570px;
  top:200px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:580px;
  top:208px;
  width:290px;
  height:36px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:592px;
  top:212px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:880px;
  top:214px;
  width:40px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:622px;
  top:216px;
  width:10px;
  height:22px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:22px;
}
#u22 {
  position:absolute;
  left:1370px;
  top:200px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1380px;
  top:208px;
  width:290px;
  height:36px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1392px;
  top:212px;
  width:30px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1680px;
  top:214px;
  width:40px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1432px;
  top:216px;
  width:163px;
  height:26px;
  font-size:18px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1595px;
  top:217px;
  width:10px;
  height:22px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:22px;
}
#u33 {
  position:absolute;
  left:1615px;
  top:210px;
  width:36px;
  height:36px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:352px;
  width:310px;
  height:118px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:118px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:570px;
  top:352px;
  width:310px;
  height:118px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:118px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:980px;
  top:200px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:990px;
  top:208px;
  width:290px;
  height:36px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1002px;
  top:212px;
  width:30px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1290px;
  top:214px;
  width:40px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1115px;
  top:216px;
  width:10px;
  height:22px;
}
#u47_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u47_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u47_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:22px;
}
#u48 {
  position:absolute;
  left:1225px;
  top:210px;
  width:36px;
  height:36px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1042px;
  top:214px;
  width:73px;
  height:26px;
  font-size:18px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:980px;
  top:352px;
  width:310px;
  height:158px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:158px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1370px;
  top:352px;
  width:310px;
  height:118px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:118px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
