﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:145px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:229px;
  top:697px;
  width:14px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:304px;
  top:697px;
  width:14px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:367px;
  top:697px;
  width:14px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:176px;
  top:689px;
  width:45px;
  height:23px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:292px;
  top:908px;
  width:14px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:360px;
  top:908px;
  width:14px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:176px;
  top:900px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:268px;
  top:900px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:338px;
  top:900px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:176px;
  top:924px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:268px;
  top:877px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:268px;
  top:925px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:339px;
  top:925px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:339px;
  top:877px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:268px;
  top:949px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:268px;
  top:853px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:339px;
  top:853px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:339px;
  top:949px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:412px;
  top:594px;
  width:38px;
  height:19px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:148px;
  width:360px;
  height:640px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u42 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:148px;
  width:360px;
  height:75px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u44 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:100px;
  top:148px;
  width:360px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:138px;
  top:188px;
  width:102px;
  height:24px;
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:108px;
  top:185px;
  width:30px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:100px;
  top:588px;
  width:360px;
  height:200px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u52 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:114px;
  top:594px;
  width:38px;
  height:19px;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:176px;
  top:664px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:176px;
  top:640px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:176px;
  top:714px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:176px;
  top:738px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:269px;
  top:689px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:268px;
  top:714px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:268px;
  top:738px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:268px;
  top:664px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:268px;
  top:640px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:338px;
  top:689px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:338px;
  top:714px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:338px;
  top:738px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:338px;
  top:664px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:338px;
  top:640px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:520px;
  top:640px;
  width:300px;
  height:138px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:138px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:520px;
  top:877px;
  width:300px;
  height:87px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:520px;
  top:210px;
  width:300px;
  height:126px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:126px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:999px;
  top:697px;
  width:14px;
  height:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1074px;
  top:697px;
  width:14px;
  height:18px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:1137px;
  top:697px;
  width:14px;
  height:18px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:946px;
  top:689px;
  width:45px;
  height:23px;
  font-size:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:1182px;
  top:594px;
  width:38px;
  height:19px;
  font-size:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:870px;
  top:588px;
  width:360px;
  height:200px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u100 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:884px;
  top:594px;
  width:38px;
  height:19px;
  font-size:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:946px;
  top:664px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:946px;
  top:640px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:946px;
  top:714px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:946px;
  top:738px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:1039px;
  top:689px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:1038px;
  top:714px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:1038px;
  top:738px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:1038px;
  top:664px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:1108px;
  top:689px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:1108px;
  top:664px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1108px;
  top:640px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1301px;
  top:598px;
  width:300px;
  height:234px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:234px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1038px;
  top:640px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:1108px;
  top:714px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:1108px;
  top:738px;
  width:21px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:381px;
  top:702px;
  width:130px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:130px;
  height:1px;
}
#u134 {
  position:absolute;
  left:1161px;
  top:697px;
  width:130px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:130px;
  height:1px;
}
