﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:398px;
  top:1661px;
  width:22px;
  height:22px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:356px;
  top:1108px;
  width:417px;
  height:740px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u3 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:357px;
  top:1137px;
  width:416px;
  height:723px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u5 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:369px;
  top:1148px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:356px;
  top:1196px;
  width:417px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u9 {
  position:absolute;
  left:717px;
  top:1807px;
  width:34px;
  height:29px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:374px;
  top:1404px;
  width:300px;
  height:41px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:374px;
  top:1469px;
  width:300px;
  height:41px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:375px;
  top:1531px;
  width:300px;
  height:41px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:374px;
  top:1590px;
  width:300px;
  height:41px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:509px;
  top:1320px;
  width:70px;
  height:27px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:579px;
  top:1320px;
  width:65px;
  height:27px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:437px;
  top:1044px;
  width:388px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:64px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:372px;
  top:1216px;
  width:130px;
  height:131px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
}
#u26 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:760px;
  top:1328px;
  width:56px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  height:1px;
}
#u28 {
  position:absolute;
  left:826px;
  top:1235px;
  width:220px;
  height:131px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:131px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:437px;
  top:1079px;
  width:364px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:300px;
  top:1426px;
  width:91px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u33 {
  position:absolute;
  left:128px;
  top:1338px;
  width:182px;
  height:131px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:131px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:300px;
  top:1597px;
  width:91px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u36 {
  position:absolute;
  left:119px;
  top:1594px;
  width:171px;
  height:37px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1165px;
  top:1630px;
  width:22px;
  height:22px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1123px;
  top:1108px;
  width:417px;
  height:740px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u41 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1124px;
  top:1137px;
  width:416px;
  height:723px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u43 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1136px;
  top:1148px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1123px;
  top:1196px;
  width:417px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u47 {
  position:absolute;
  left:1279px;
  top:1291px;
  width:231px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1160px;
  top:1373px;
  width:300px;
  height:44px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1161px;
  top:1438px;
  width:300px;
  height:44px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1162px;
  top:1492px;
  width:300px;
  height:44px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1161px;
  top:1559px;
  width:300px;
  height:44px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1136px;
  top:1437px;
  width:22px;
  height:22px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u58 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1276px;
  top:1320px;
  width:70px;
  height:27px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1136px;
  top:1491px;
  width:22px;
  height:22px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u62 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1346px;
  top:1320px;
  width:65px;
  height:27px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1139px;
  top:1216px;
  width:130px;
  height:131px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
}
#u66 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1139px;
  top:1563px;
  width:16px;
  height:13px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1124px;
  top:1137px;
  width:416px;
  height:723px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u70 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1190px;
  top:1318px;
  width:294px;
  height:165px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:165px;
}
#u72 {
  position:absolute;
  left:2px;
  top:74px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1182px;
  top:1426px;
  width:302px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u74 {
  position:absolute;
  left:1180px;
  top:1326px;
  width:296px;
  height:66px;
  font-size:18px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:66px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1240px;
  top:1442px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1392px;
  top:1444px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1328px;
  top:1432px;
  width:10px;
  height:52px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:35px;
  width:20px;
  height:18px;
}
#u80_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:52px;
}
#u81 {
  position:absolute;
  left:1190px;
  top:1318px;
  width:294px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1056px;
  top:1337px;
  width:91px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u84 {
  position:absolute;
  left:1136px;
  top:1373px;
  width:22px;
  height:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1727px;
  top:1630px;
  width:22px;
  height:22px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u87 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1685px;
  top:1108px;
  width:417px;
  height:740px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u89 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1687px;
  top:1137px;
  width:416px;
  height:723px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u91 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1699px;
  top:1148px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1685px;
  top:1196px;
  width:417px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u95 {
  position:absolute;
  left:1841px;
  top:1291px;
  width:231px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1723px;
  top:1373px;
  width:300px;
  height:44px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1723px;
  top:1438px;
  width:300px;
  height:44px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1725px;
  top:1492px;
  width:300px;
  height:44px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1723px;
  top:1559px;
  width:300px;
  height:44px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1699px;
  top:1437px;
  width:22px;
  height:22px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u106 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1839px;
  top:1320px;
  width:70px;
  height:27px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1699px;
  top:1491px;
  width:22px;
  height:22px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u110 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1909px;
  top:1320px;
  width:65px;
  height:27px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1701px;
  top:1216px;
  width:130px;
  height:131px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
}
#u114 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1701px;
  top:1563px;
  width:16px;
  height:13px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1687px;
  top:1137px;
  width:416px;
  height:723px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u118 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1699px;
  top:1373px;
  width:22px;
  height:22px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u120 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1687px;
  top:1469px;
  width:416px;
  height:391px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:391px;
}
#u122 {
  position:absolute;
  left:2px;
  top:188px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1707px;
  top:1536px;
  width:316px;
  height:319px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:319px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1694px;
  top:1477px;
  width:16px;
  height:17px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u126 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1235px;
  top:1050px;
  width:215px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:34px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1805px;
  top:1050px;
  width:388px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:64px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:731px;
  top:1550px;
  width:91px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u132 {
  position:absolute;
  left:832px;
  top:1543px;
  width:220px;
  height:37px;
  font-size:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:37px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1494px;
  top:1373px;
  width:16px;
  height:13px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u135 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1494px;
  top:1442px;
  width:16px;
  height:13px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u137 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1494px;
  top:1555px;
  width:16px;
  height:13px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1494px;
  top:1498px;
  width:16px;
  height:13px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:643px;
  top:1320px;
  width:65px;
  height:27px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u143 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:738px;
  top:1408px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:739px;
  top:1469px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:740px;
  top:1523px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:743px;
  top:1592px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:375px;
  top:1427px;
  width:15px;
  height:15px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u153 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:374px;
  top:1493px;
  width:15px;
  height:15px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u155 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:374px;
  top:1360px;
  width:121px;
  height:27px;
  font-size:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u157 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:380px;
  top:1366px;
  width:13px;
  height:14px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u159 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:684px;
  top:1366px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:369px;
  top:1551px;
  width:20px;
  height:20px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u163 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:278px;
  top:1556px;
  width:91px;
  height:10px;
}
#u164_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u165 {
  position:absolute;
  left:115px;
  top:1552px;
  width:153px;
  height:19px;
  font-size:16px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:2395px;
  top:1661px;
  width:22px;
  height:22px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u168 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:2353px;
  top:1108px;
  width:417px;
  height:740px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u170 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:2354px;
  top:1137px;
  width:416px;
  height:723px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u172 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:2366px;
  top:1148px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u174 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:2353px;
  top:1196px;
  width:417px;
  height:10px;
}
#u175_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u175_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u175_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u176 {
  position:absolute;
  left:2707px;
  top:1797px;
  width:47px;
  height:39px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
}
#u177 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:2373px;
  top:1251px;
  width:300px;
  height:41px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:2373px;
  top:1316px;
  width:300px;
  height:41px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:2374px;
  top:1378px;
  width:300px;
  height:41px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:2373px;
  top:1437px;
  width:300px;
  height:41px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:2737px;
  top:1255px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:2738px;
  top:1316px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:2739px;
  top:1370px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:2742px;
  top:1439px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:2374px;
  top:1274px;
  width:15px;
  height:15px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u195 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:2373px;
  top:1340px;
  width:15px;
  height:15px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u197 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:2373px;
  top:1207px;
  width:121px;
  height:27px;
  font-size:16px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u199 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:2379px;
  top:1213px;
  width:13px;
  height:14px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u201 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:2683px;
  top:1213px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:2368px;
  top:1398px;
  width:20px;
  height:20px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u205 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:2766px;
  top:1217px;
  width:91px;
  height:10px;
}
#u206_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u206_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u206_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u207 {
  position:absolute;
  left:2870px;
  top:1202px;
  width:220px;
  height:37px;
  font-size:16px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:37px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:1485px;
  top:1807px;
  width:34px;
  height:29px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u210 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:2442px;
  top:1050px;
  width:240px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:356px;
  top:150px;
  width:419px;
  height:750px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:750px;
}
#u214 {
  position:absolute;
  left:2px;
  top:367px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:357px;
  top:150px;
  width:417px;
  height:740px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u216 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:357px;
  top:244px;
  width:412px;
  height:542px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:542px;
}
#u218 {
  position:absolute;
  left:2px;
  top:263px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:369px;
  top:190px;
  width:390px;
  height:40px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u220 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:356px;
  top:238px;
  width:417px;
  height:10px;
}
#u221_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u221_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u221_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u222 {
  position:absolute;
  left:601px;
  top:261px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:356px;
  top:408px;
  width:419px;
  height:10px;
}
#u224_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u224_end {
  position:absolute;
  left:402px;
  top:-5px;
  width:18px;
  height:20px;
}
#u224_line {
  position:absolute;
  left:0px;
  top:5px;
  width:419px;
  height:1px;
}
#u225 {
  position:absolute;
  left:669px;
  top:359px;
  width:69px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:37px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:356px;
  top:424px;
  width:419px;
  height:50px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u228 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:373px;
  top:439px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u231 {
  position:absolute;
  left:743px;
  top:436px;
  width:26px;
  height:26px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u232 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:356px;
  top:498px;
  width:308px;
  height:197px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:197px;
}
#u234 {
  position:absolute;
  left:2px;
  top:90px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:356px;
  top:498px;
  width:419px;
  height:50px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u236 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:356px;
  top:546px;
  width:419px;
  height:50px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u238 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:356px;
  top:595px;
  width:419px;
  height:50px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u240 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:356px;
  top:644px;
  width:419px;
  height:51px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:51px;
}
#u242 {
  position:absolute;
  left:2px;
  top:18px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:373px;
  top:564px;
  width:16px;
  height:13px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u244 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:409px;
  top:554px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u247 {
  position:absolute;
  left:409px;
  top:604px;
  width:49px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u249 {
  position:absolute;
  left:409px;
  top:654px;
  width:65px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u251 {
  position:absolute;
  left:373px;
  top:614px;
  width:16px;
  height:13px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u252 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:373px;
  top:662px;
  width:16px;
  height:13px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u254 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:365px;
  top:508px;
  width:30px;
  height:30px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u256 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:409px;
  top:512px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u259 {
  position:absolute;
  left:483px;
  top:262px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u261 {
  position:absolute;
  left:491px;
  top:247px;
  width:32px;
  height:10px;
}
#u261_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u261_end {
  position:absolute;
  left:15px;
  top:-5px;
  width:18px;
  height:20px;
}
#u261_line {
  position:absolute;
  left:0px;
  top:4px;
  width:32px;
  height:2px;
}
#u262 {
  position:absolute;
  left:356px;
  top:178px;
  width:419px;
  height:64px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:64px;
}
#u263 {
  position:absolute;
  left:2px;
  top:24px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:408px;
  top:199px;
  width:128px;
  height:19px;
  font-size:16px;
  color:#CBCBCB;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:717px;
  top:830px;
  width:34px;
  height:36px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u267 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:417px;
  top:302px;
  width:47px;
  height:47px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u269 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:409px;
  top:359px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u272 {
  position:absolute;
  left:539px;
  top:359px;
  width:58px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u274 {
  position:absolute;
  left:541px;
  top:304px;
  width:45px;
  height:45px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u275 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:671px;
  top:301px;
  width:54px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u278 {
  position:absolute;
  left:717px;
  top:193px;
  width:34px;
  height:35px;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u279 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:490px;
  top:82px;
  width:152px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u282 {
  position:absolute;
  left:1109px;
  top:148px;
  width:417px;
  height:740px;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u283 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:1110px;
  top:177px;
  width:416px;
  height:723px;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u285 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:1122px;
  top:188px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u287 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:1109px;
  top:236px;
  width:417px;
  height:10px;
}
#u288_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u288_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u288_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u289 {
  position:absolute;
  left:1463px;
  top:839px;
  width:41px;
  height:37px;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u290 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291 {
  position:absolute;
  left:1122px;
  top:249px;
  width:98px;
  height:91px;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:91px;
}
#u292 {
  position:absolute;
  left:2px;
  top:38px;
  width:94px;
  word-wrap:break-word;
}
#u293 {
  position:absolute;
  left:1240px;
  top:270px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u295 {
  position:absolute;
  left:1240px;
  top:304px;
  width:69px;
  height:19px;
  color:#666666;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u297 {
  position:absolute;
  left:1109px;
  top:350px;
  width:417px;
  height:10px;
}
#u297_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u297_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u297_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u298 {
  position:absolute;
  left:1122px;
  top:370px;
  width:98px;
  height:91px;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:91px;
}
#u299 {
  position:absolute;
  left:2px;
  top:38px;
  width:94px;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:1240px;
  top:391px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u302 {
  position:absolute;
  left:1240px;
  top:425px;
  width:69px;
  height:19px;
  color:#666666;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u304 {
  position:absolute;
  left:1109px;
  top:471px;
  width:417px;
  height:10px;
}
#u304_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u304_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u304_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u305 {
  position:absolute;
  left:760px;
  top:444px;
  width:350px;
  height:10px;
}
#u305_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u305_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u305_line {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  height:1px;
}
#u306 {
  position:absolute;
  left:1478px;
  top:190px;
  width:34px;
  height:35px;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u307 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308 {
  position:absolute;
  left:1392px;
  top:290px;
  width:228px;
  height:10px;
}
#u308_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u308_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:18px;
  height:20px;
}
#u308_line {
  position:absolute;
  left:0px;
  top:5px;
  width:228px;
  height:1px;
}
#u309 {
  position:absolute;
  left:1630px;
  top:286px;
  width:290px;
  height:56px;
  font-size:16px;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:56px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u311 {
  position:absolute;
  left:708px;
  top:1320px;
  width:52px;
  height:27px;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u312 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:509px;
  top:1216px;
  width:200px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:356px;
  top:2000px;
  width:485px;
  height:32px;
  font-size:28px;
  color:#FF0000;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:32px;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u317 {
  position:absolute;
  left:1249px;
  top:1406px;
  width:121px;
  height:16px;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u319 {
  position:absolute;
  left:1060px;
  top:1409px;
  width:163px;
  height:10px;
}
#u319_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u319_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u319_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u320 {
  position:absolute;
  left:840px;
  top:1396px;
  width:220px;
  height:56px;
  font-size:16px;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:725px;
  top:1153px;
  width:34px;
  height:35px;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u323 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324 {
  position:absolute;
  left:2722px;
  top:1153px;
  width:34px;
  height:35px;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u325 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326 {
  position:absolute;
  left:1438px;
  top:196px;
  width:22px;
  height:22px;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u327 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328 {
  position:absolute;
  left:1231px;
  top:1408px;
  width:15px;
  height:14px;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u329 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
