﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1793px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:37px;
  width:129px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:-10px;
  top:87px;
  width:998px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:998px;
  height:1px;
}
#u3 {
  position:absolute;
  left:520px;
  top:743px;
  width:494px;
  height:87px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:87px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:1630px;
  top:164px;
  width:173px;
  height:16px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:633px;
  top:332px;
  width:269px;
  height:16px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  visibility:hidden;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1262px;
  top:160px;
  width:308px;
  height:21px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1262px;
  top:181px;
  width:308px;
  height:520px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u12 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1262px;
  top:221px;
  width:308px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u14 {
  position:absolute;
  left:1285px;
  top:165px;
  width:60px;
  height:11px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1273px;
  top:193px;
  width:22px;
  height:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1299px;
  top:191px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1445px;
  top:166px;
  width:11px;
  height:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1276px;
  top:247px;
  width:280px;
  height:103px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:103px;
}
#u23 {
  position:absolute;
  left:2px;
  top:44px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1276px;
  top:291px;
  width:280px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u25 {
  position:absolute;
  left:1293px;
  top:262px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1293px;
  top:312px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1523px;
  top:259px;
  width:26px;
  height:26px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u30 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1523px;
  top:309px;
  width:26px;
  height:26px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u32 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1425px;
  top:265px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1277px;
  top:428px;
  width:278px;
  height:45px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:45px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1353px;
  top:441px;
  width:109px;
  height:25px;
  font-size:18px;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1276px;
  top:362px;
  width:280px;
  height:53px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:53px;
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1292px;
  top:378px;
  width:177px;
  height:22px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:1520px;
  top:376px;
  width:26px;
  height:26px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u44 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1262px;
  top:160px;
  width:308px;
  height:31px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:31px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1378px;
  top:168px;
  width:79px;
  height:18px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:70px;
  top:160px;
  width:308px;
  height:21px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:70px;
  top:181px;
  width:308px;
  height:520px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u52 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:70px;
  top:221px;
  width:308px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u54 {
  position:absolute;
  left:93px;
  top:165px;
  width:60px;
  height:11px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:81px;
  top:193px;
  width:22px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:107px;
  top:191px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:253px;
  top:166px;
  width:11px;
  height:11px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:84px;
  top:247px;
  width:280px;
  height:103px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:103px;
}
#u63 {
  position:absolute;
  left:2px;
  top:44px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:84px;
  top:291px;
  width:280px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u65 {
  position:absolute;
  left:101px;
  top:262px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:101px;
  top:312px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:331px;
  top:259px;
  width:26px;
  height:26px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u70 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:331px;
  top:309px;
  width:26px;
  height:26px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u72 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:233px;
  top:265px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:85px;
  top:428px;
  width:278px;
  height:45px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:45px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:161px;
  top:441px;
  width:109px;
  height:25px;
  font-size:18px;
  color:#666666;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:84px;
  top:362px;
  width:280px;
  height:53px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:53px;
}
#u80 {
  position:absolute;
  left:2px;
  top:18px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:100px;
  top:378px;
  width:177px;
  height:22px;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:328px;
  top:376px;
  width:26px;
  height:26px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u84 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:484px;
  top:160px;
  width:308px;
  height:21px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:484px;
  top:181px;
  width:308px;
  height:520px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u88 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:484px;
  top:221px;
  width:308px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u90 {
  position:absolute;
  left:506px;
  top:165px;
  width:60px;
  height:11px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:496px;
  top:193px;
  width:22px;
  height:22px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u93 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:522px;
  top:191px;
  width:81px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:714px;
  top:191px;
  width:61px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:776px;
  top:198px;
  width:74px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:57px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:74px;
  height:1px;
}
#u99 {
  position:absolute;
  left:484px;
  top:462px;
  width:308px;
  height:239px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:239px;
}
#u100 {
  position:absolute;
  left:2px;
  top:112px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:498px;
  top:281px;
  width:281px;
  height:50px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u102 {
  position:absolute;
  left:2px;
  top:17px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:506px;
  top:296px;
  width:181px;
  height:22px;
  font-size:16px;
  color:#D7D7D7;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:498px;
  top:245px;
  width:15px;
  height:15px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u106 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:528px;
  top:244px;
  width:196px;
  height:18px;
  color:#D7D7D7;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:862px;
  top:160px;
  width:308px;
  height:21px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:862px;
  top:181px;
  width:308px;
  height:520px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u112 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:862px;
  top:221px;
  width:308px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u114 {
  position:absolute;
  left:884px;
  top:165px;
  width:60px;
  height:11px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:876px;
  top:193px;
  width:22px;
  height:22px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u117 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:902px;
  top:191px;
  width:121px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1101px;
  top:190px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:862px;
  top:462px;
  width:308px;
  height:239px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:239px;
}
#u123 {
  position:absolute;
  left:2px;
  top:112px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:876px;
  top:281px;
  width:281px;
  height:50px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u125 {
  position:absolute;
  left:2px;
  top:17px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:876px;
  top:245px;
  width:15px;
  height:15px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u127 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:898px;
  top:295px;
  width:113px;
  height:22px;
  font-size:16px;
  color:#D7D7D7;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:904px;
  top:243px;
  width:196px;
  height:18px;
  color:#D7D7D7;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:340px;
  top:317px;
  width:134px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:117px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:134px;
  height:1px;
}
#u133 {
  position:absolute;
  left:1155px;
  top:198px;
  width:90px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u134 {
  position:absolute;
  left:1530px;
  top:172px;
  width:90px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
