﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:32px;
  width:236px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:125px;
  top:102px;
  width:289px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
