﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3992px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:507px;
  top:76px;
  width:235px;
  height:58px;
  font-family:'', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:59px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:67px;
}
#u2 {
  position:absolute;
  left:40px;
  top:30px;
  width:457px;
  height:120px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#990000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:121px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:120px;
}
#u4 {
  position:absolute;
  left:40px;
  top:150px;
  width:3952px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:3943px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3952px;
  height:1px;
}
#u5 {
  position:absolute;
  left:73px;
  top:249px;
  width:290px;
  height:515px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u6 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u7 {
  position:absolute;
  left:73px;
  top:249px;
  width:290px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u9 {
  position:absolute;
  left:195px;
  top:269px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u11 {
  position:absolute;
  left:257px;
  top:269px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u13 {
  position:absolute;
  left:73px;
  top:269px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u15 {
  position:absolute;
  left:135px;
  top:269px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u17 {
  position:absolute;
  left:206px;
  top:677px;
  width:41px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u19 {
  position:absolute;
  left:319px;
  top:269px;
  width:43px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u21 {
  position:absolute;
  left:216px;
  top:692px;
  width:21px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:12px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:21px;
  height:2px;
}
#u22 {
  position:absolute;
  left:222px;
  top:685px;
  width:10px;
  height:24px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:14px;
}
#u22_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:24px;
}
#u23 {
  position:absolute;
  left:73px;
  top:390px;
  width:288px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u24 {
  position:absolute;
  left:73px;
  top:482px;
  width:288px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u25 {
  position:absolute;
  left:73px;
  top:574px;
  width:288px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u26 {
  position:absolute;
  left:89px;
  top:336px;
  width:27px;
  height:18px;
  color:#797979;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u28 {
  position:absolute;
  left:89px;
  top:360px;
  width:27px;
  height:18px;
  color:#797979;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u30 {
  position:absolute;
  left:121px;
  top:324px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#797979;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u32 {
  position:absolute;
  left:125px;
  top:360px;
  width:27px;
  height:18px;
  color:#797979;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u34 {
  position:absolute;
  left:307px;
  top:340px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u36 {
  position:absolute;
  left:307px;
  top:338px;
  width:19px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u38 {
  position:absolute;
  left:89px;
  top:430px;
  width:27px;
  height:18px;
  color:#797979;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u40 {
  position:absolute;
  left:89px;
  top:454px;
  width:27px;
  height:18px;
  color:#797979;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u42 {
  position:absolute;
  left:123px;
  top:418px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#797979;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u44 {
  position:absolute;
  left:125px;
  top:454px;
  width:79px;
  height:18px;
  color:#797979;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u46 {
  position:absolute;
  left:307px;
  top:435px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u48 {
  position:absolute;
  left:307px;
  top:432px;
  width:19px;
  height:19px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u50 {
  position:absolute;
  left:89px;
  top:521px;
  width:27px;
  height:18px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u52 {
  position:absolute;
  left:89px;
  top:545px;
  width:27px;
  height:18px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u54 {
  position:absolute;
  left:123px;
  top:509px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u56 {
  position:absolute;
  left:125px;
  top:545px;
  width:66px;
  height:18px;
  color:#000000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u58 {
  position:absolute;
  left:307px;
  top:526px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u59 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u60 {
  position:absolute;
  left:329px;
  top:524px;
  width:19px;
  height:19px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u62 {
  position:absolute;
  left:89px;
  top:614px;
  width:27px;
  height:18px;
  color:#000000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u64 {
  position:absolute;
  left:89px;
  top:638px;
  width:53px;
  height:18px;
  color:#000000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u66 {
  position:absolute;
  left:123px;
  top:602px;
  width:71px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u68 {
  position:absolute;
  left:147px;
  top:638px;
  width:66px;
  height:18px;
  color:#000000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u70 {
  position:absolute;
  left:307px;
  top:618px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u72 {
  position:absolute;
  left:329px;
  top:616px;
  width:19px;
  height:19px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u74 {
  position:absolute;
  left:380px;
  top:586px;
  width:224px;
  height:36px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u76 {
  position:absolute;
  left:280px;
  top:621px;
  width:296px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:287px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u77 {
  position:absolute;
  left:586px;
  top:249px;
  width:290px;
  height:515px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u78 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u79 {
  position:absolute;
  left:586px;
  top:249px;
  width:290px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u81 {
  position:absolute;
  left:586px;
  top:269px;
  width:290px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u83 {
  position:absolute;
  left:606px;
  top:277px;
  width:39px;
  height:20px;
  font-size:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u85 {
  position:absolute;
  left:828px;
  top:277px;
  width:39px;
  height:20px;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u87 {
  position:absolute;
  left:696px;
  top:276px;
  width:70px;
  height:22px;
  font-size:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u89 {
  position:absolute;
  left:586px;
  top:383px;
  width:289px;
  height:56px;
  color:#333333;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:57px;
}
#u90 {
  position:absolute;
  left:2px;
  top:20px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:16px;
}
#u91 {
  position:absolute;
  left:643px;
  top:391px;
  width:45px;
  height:45px;
  font-size:40px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u93 {
  position:absolute;
  left:731px;
  top:391px;
  width:45px;
  height:45px;
  font-size:40px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u95 {
  position:absolute;
  left:648px;
  top:448px;
  width:38px;
  height:42px;
  font-size:36px;
  color:#333333;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:43px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:42px;
}
#u97 {
  position:absolute;
  left:733px;
  top:448px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#333333;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u99 {
  position:absolute;
  left:648px;
  top:340px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#333333;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u101 {
  position:absolute;
  left:731px;
  top:340px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#333333;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u103 {
  position:absolute;
  left:696px;
  top:411px;
  width:19px;
  height:25px;
  font-size:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:25px;
}
#u105 {
  position:absolute;
  left:787px;
  top:411px;
  width:19px;
  height:25px;
  font-size:18px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:25px;
}
#u107 {
  position:absolute;
  left:823px;
  top:407px;
  width:21px;
  height:15px;
  font-family:'Arial-ItalicMT', 'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u109 {
  position:absolute;
  left:823px;
  top:353px;
  width:21px;
  height:30px;
  font-family:'Arial-ItalicMT', 'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#CCCCCC;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:31px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u111 {
  position:absolute;
  left:588px;
  top:574px;
  width:286px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:14px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:286px;
  height:1px;
}
#u112 {
  position:absolute;
  left:588px;
  top:614px;
  width:286px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:14px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:286px;
  height:1px;
}
#u113 {
  position:absolute;
  left:588px;
  top:654px;
  width:286px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:14px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:286px;
  height:1px;
}
#u114 {
  position:absolute;
  left:606px;
  top:551px;
  width:39px;
  height:20px;
  font-size:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u116 {
  position:absolute;
  left:606px;
  top:594px;
  width:39px;
  height:20px;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u118 {
  position:absolute;
  left:606px;
  top:631px;
  width:39px;
  height:20px;
  font-size:14px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u120 {
  position:absolute;
  left:606px;
  top:674px;
  width:60px;
  height:20px;
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u122 {
  position:absolute;
  left:851px;
  top:558px;
  width:9px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u122_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:14px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:9px;
  height:1px;
}
#u123 {
  position:absolute;
  left:851px;
  top:552px;
  width:9px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u123_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:14px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:9px;
  height:1px;
}
#u124 {
  position:absolute;
  left:851px;
  top:600px;
  width:9px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u124_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:14px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:9px;
  height:1px;
}
#u125 {
  position:absolute;
  left:851px;
  top:594px;
  width:9px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u125_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:14px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:9px;
  height:1px;
}
#u126 {
  position:absolute;
  left:851px;
  top:637px;
  width:9px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u126_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:14px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:5px;
  width:9px;
  height:1px;
}
#u127 {
  position:absolute;
  left:851px;
  top:634px;
  width:9px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u127_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:14px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:9px;
  height:1px;
}
#u128 {
  position:absolute;
  left:831px;
  top:677px;
  width:31px;
  height:11px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:12px;
}
#u129 {
  position:absolute;
  left:2px;
  top:-2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u130 {
  position:absolute;
  left:848px;
  top:676px;
  width:13px;
  height:13px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u131 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u132 {
  position:absolute;
  left:796px;
  top:594px;
  width:49px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u134 {
  position:absolute;
  left:786px;
  top:554px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u136 {
  position:absolute;
  left:790px;
  top:634px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u138 {
  position:absolute;
  left:73px;
  top:850px;
  width:290px;
  height:515px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u139 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u140 {
  position:absolute;
  left:73px;
  top:850px;
  width:290px;
  height:20px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u142 {
  position:absolute;
  left:195px;
  top:870px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u143 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u144 {
  position:absolute;
  left:257px;
  top:870px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u145 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u146 {
  position:absolute;
  left:73px;
  top:870px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u147 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u148 {
  position:absolute;
  left:135px;
  top:870px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u149 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u150 {
  position:absolute;
  left:206px;
  top:1278px;
  width:41px;
  height:40px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u151 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u152 {
  position:absolute;
  left:319px;
  top:870px;
  width:43px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u153 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u154 {
  position:absolute;
  left:216px;
  top:1293px;
  width:21px;
  height:10px;
}
#u154_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u154_end {
  position:absolute;
  left:12px;
  top:-5px;
  width:14px;
  height:20px;
}
#u154_line {
  position:absolute;
  left:0px;
  top:4px;
  width:21px;
  height:2px;
}
#u155 {
  position:absolute;
  left:222px;
  top:1286px;
  width:10px;
  height:24px;
}
#u155_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u155_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:14px;
}
#u155_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:24px;
}
#u156 {
  position:absolute;
  left:73px;
  top:991px;
  width:288px;
  height:10px;
}
#u156_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u156_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u156_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u157 {
  position:absolute;
  left:73px;
  top:1083px;
  width:288px;
  height:10px;
}
#u157_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u157_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u157_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u158 {
  position:absolute;
  left:73px;
  top:1175px;
  width:288px;
  height:10px;
}
#u158_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u158_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u158_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u159 {
  position:absolute;
  left:89px;
  top:937px;
  width:27px;
  height:18px;
  color:#797979;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u161 {
  position:absolute;
  left:89px;
  top:961px;
  width:27px;
  height:18px;
  color:#797979;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u163 {
  position:absolute;
  left:121px;
  top:925px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#797979;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u165 {
  position:absolute;
  left:125px;
  top:961px;
  width:27px;
  height:18px;
  color:#797979;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u167 {
  position:absolute;
  left:307px;
  top:941px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u168 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u169 {
  position:absolute;
  left:307px;
  top:939px;
  width:19px;
  height:19px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u170 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u171 {
  position:absolute;
  left:89px;
  top:1031px;
  width:27px;
  height:18px;
  color:#797979;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u173 {
  position:absolute;
  left:89px;
  top:1055px;
  width:27px;
  height:18px;
  color:#797979;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u175 {
  position:absolute;
  left:123px;
  top:1019px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#797979;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u177 {
  position:absolute;
  left:125px;
  top:1055px;
  width:79px;
  height:18px;
  color:#797979;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u179 {
  position:absolute;
  left:307px;
  top:1036px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u180 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u181 {
  position:absolute;
  left:307px;
  top:1033px;
  width:19px;
  height:19px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u182 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u183 {
  position:absolute;
  left:89px;
  top:1122px;
  width:27px;
  height:18px;
  color:#000000;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u185 {
  position:absolute;
  left:89px;
  top:1146px;
  width:27px;
  height:18px;
  color:#000000;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u187 {
  position:absolute;
  left:123px;
  top:1110px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u189 {
  position:absolute;
  left:125px;
  top:1146px;
  width:66px;
  height:18px;
  color:#000000;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u191 {
  position:absolute;
  left:307px;
  top:1127px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u192 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u193 {
  position:absolute;
  left:329px;
  top:1125px;
  width:19px;
  height:19px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u194 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u195 {
  position:absolute;
  left:89px;
  top:1215px;
  width:27px;
  height:18px;
  color:#000000;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u197 {
  position:absolute;
  left:89px;
  top:1239px;
  width:53px;
  height:18px;
  color:#000000;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u199 {
  position:absolute;
  left:123px;
  top:1203px;
  width:71px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u201 {
  position:absolute;
  left:147px;
  top:1239px;
  width:66px;
  height:18px;
  color:#000000;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u203 {
  position:absolute;
  left:73px;
  top:807px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u205 {
  position:absolute;
  left:307px;
  top:1223px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u206 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u207 {
  position:absolute;
  left:329px;
  top:1221px;
  width:19px;
  height:19px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u208 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u209 {
  position:absolute;
  left:280px;
  top:1133px;
  width:296px;
  height:10px;
}
#u209_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u209_end {
  position:absolute;
  left:287px;
  top:-5px;
  width:14px;
  height:20px;
}
#u209_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u210 {
  position:absolute;
  left:380px;
  top:1096px;
  width:180px;
  height:36px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u212 {
  position:absolute;
  left:588px;
  top:850px;
  width:290px;
  height:515px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u213 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u214 {
  position:absolute;
  left:588px;
  top:850px;
  width:290px;
  height:20px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u215 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u216 {
  position:absolute;
  left:606px;
  top:882px;
  width:39px;
  height:20px;
  font-size:14px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u218 {
  position:absolute;
  left:827px;
  top:882px;
  width:39px;
  height:20px;
  font-size:14px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u220 {
  position:absolute;
  left:687px;
  top:878px;
  width:92px;
  height:25px;
  font-size:18px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u222 {
  position:absolute;
  left:588px;
  top:991px;
  width:288px;
  height:10px;
}
#u222_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u222_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u222_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u223 {
  position:absolute;
  left:588px;
  top:1083px;
  width:288px;
  height:10px;
}
#u223_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u223_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u223_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u224 {
  position:absolute;
  left:588px;
  top:1175px;
  width:288px;
  height:10px;
}
#u224_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u224_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u224_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u225 {
  position:absolute;
  left:637px;
  top:937px;
  width:27px;
  height:18px;
  color:#797979;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u227 {
  position:absolute;
  left:637px;
  top:961px;
  width:27px;
  height:18px;
  color:#797979;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u229 {
  position:absolute;
  left:669px;
  top:925px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#797979;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u231 {
  position:absolute;
  left:673px;
  top:961px;
  width:27px;
  height:18px;
  color:#797979;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u233 {
  position:absolute;
  left:637px;
  top:1031px;
  width:27px;
  height:18px;
  color:#797979;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u235 {
  position:absolute;
  left:637px;
  top:1055px;
  width:27px;
  height:18px;
  color:#797979;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u237 {
  position:absolute;
  left:671px;
  top:1019px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#797979;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u239 {
  position:absolute;
  left:673px;
  top:1055px;
  width:79px;
  height:18px;
  color:#797979;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u241 {
  position:absolute;
  left:637px;
  top:1122px;
  width:27px;
  height:18px;
  color:#000000;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u243 {
  position:absolute;
  left:637px;
  top:1146px;
  width:27px;
  height:18px;
  color:#000000;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u245 {
  position:absolute;
  left:671px;
  top:1110px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u247 {
  position:absolute;
  left:673px;
  top:1146px;
  width:66px;
  height:18px;
  color:#000000;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u249 {
  position:absolute;
  left:637px;
  top:1215px;
  width:27px;
  height:18px;
  color:#000000;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u251 {
  position:absolute;
  left:637px;
  top:1239px;
  width:53px;
  height:18px;
  color:#000000;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u253 {
  position:absolute;
  left:671px;
  top:1203px;
  width:71px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u255 {
  position:absolute;
  left:695px;
  top:1239px;
  width:66px;
  height:18px;
  color:#000000;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u257 {
  position:absolute;
  left:607px;
  top:939px;
  width:19px;
  height:19px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u258 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u259 {
  position:absolute;
  left:607px;
  top:1036px;
  width:19px;
  height:19px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u260 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u261 {
  position:absolute;
  left:606px;
  top:1128px;
  width:19px;
  height:19px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u262 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u263 {
  position:absolute;
  left:606px;
  top:1217px;
  width:19px;
  height:19px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u264 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u265 {
  position:absolute;
  left:610px;
  top:947px;
  width:6px;
  height:10px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u265_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u265_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:14px;
  height:20px;
}
#u265_line {
  position:absolute;
  left:0px;
  top:5px;
  width:6px;
  height:1px;
}
#u266 {
  position:absolute;
  left:613px;
  top:944px;
  width:12px;
  height:10px;
  -webkit-transform:rotate(305deg);
  -moz-transform:rotate(305deg);
  -ms-transform:rotate(305deg);
  transform:rotate(305deg);
}
#u266_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u266_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:14px;
  height:20px;
}
#u266_line {
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:1px;
}
#u267 {
  position:absolute;
  left:717px;
  top:1287px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u269 {
  position:absolute;
  left:860px;
  top:1083px;
  width:90px;
  height:10px;
}
#u269_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u269_end {
  position:absolute;
  left:81px;
  top:-5px;
  width:14px;
  height:20px;
}
#u269_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u270 {
  position:absolute;
  left:960px;
  top:1055px;
  width:406px;
  height:72px;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:73px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  white-space:nowrap;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:72px;
}
#u272 {
  position:absolute;
  left:73px;
  top:207px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u274 {
  position:absolute;
  left:588px;
  top:1326px;
  width:290px;
  height:38px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:39px;
}
#u275 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:18px;
}
