﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:30px;
  width:427px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u3 {
  position:absolute;
  left:356px;
  top:195px;
  width:92px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:820px;
  top:182px;
  width:246px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:62px;
  top:130px;
  width:268px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u8 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:62px;
  top:148px;
  width:268px;
  height:452px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u10 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:80px;
  top:136px;
  width:52px;
  height:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:76px;
  top:232px;
  width:241px;
  height:139px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u14 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:286px;
  top:344px;
  width:18px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:92px;
  top:288px;
  width:6px;
  height:6px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:110px;
  top:284px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:290px;
  top:240px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:62px;
  top:148px;
  width:268px;
  height:60px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:76px;
  top:262px;
  width:241px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u26 {
  position:absolute;
  left:92px;
  top:242px;
  width:53px;
  height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:62px;
  top:554px;
  width:268px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u29 {
  position:absolute;
  left:130px;
  top:568px;
  width:47px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:224px;
  top:566px;
  width:10px;
  height:23px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u32 {
  position:absolute;
  left:258px;
  top:568px;
  width:48px;
  height:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:168px;
  top:168px;
  width:56px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:102px;
  top:166px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:278px;
  top:170px;
  width:16px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:128px;
  top:166px;
  width:22px;
  height:22px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u41 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:294px;
  top:175px;
  width:198px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:198px;
  height:1px;
}
#u43 {
  position:absolute;
  left:502px;
  top:130px;
  width:268px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u44 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:502px;
  top:148px;
  width:268px;
  height:452px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u46 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:520px;
  top:136px;
  width:52px;
  height:10px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:516px;
  top:232px;
  width:241px;
  height:139px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u50 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:726px;
  top:344px;
  width:18px;
  height:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u52 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:532px;
  top:288px;
  width:6px;
  height:6px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:550px;
  top:284px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:730px;
  top:240px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:502px;
  top:148px;
  width:268px;
  height:60px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:516px;
  top:262px;
  width:241px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u62 {
  position:absolute;
  left:532px;
  top:242px;
  width:53px;
  height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:502px;
  top:554px;
  width:268px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u65 {
  position:absolute;
  left:570px;
  top:568px;
  width:47px;
  height:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:664px;
  top:566px;
  width:10px;
  height:23px;
}
#u67_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u67_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u68 {
  position:absolute;
  left:698px;
  top:568px;
  width:48px;
  height:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:608px;
  top:168px;
  width:56px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:542px;
  top:166px;
  width:20px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:718px;
  top:170px;
  width:16px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u75 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:568px;
  top:166px;
  width:22px;
  height:22px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u77 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:625px;
  top:201px;
  width:12px;
  height:7px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:612px;
  top:190px;
  width:40px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#00CC66;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:11px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:662px;
  top:195px;
  width:148px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:131px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:148px;
  height:1px;
}
