﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:697px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:120px;
  width:507px;
  height:340px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:341px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  white-space:nowrap;
}
