﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:155px;
  top:401px;
  width:155px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:110px;
}
#u1 {
  position:absolute;
  left:2px;
  top:46px;
  width:151px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:182px;
  top:290px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:139px;
  top:561px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:139px;
  top:671px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:374px;
  top:561px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:373px;
  top:671px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:374px;
  top:780px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:374px;
  top:889px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:233px;
  top:351px;
  height:50px;
}
#u16_seg0 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:15px;
  height:20px;
}
#u16_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:64px;
}
#u17 {
  position:absolute;
  left:-51px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:232px;
  top:511px;
  width:0px;
  height:50px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:232px;
  top:621px;
  width:0px;
  height:50px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:324px;
  top:591px;
  width:50px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:466px;
  top:621px;
  width:0px;
  height:50px;
  color:#0000FF;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:466px;
  top:731px;
  width:0px;
  height:49px;
  color:#0000FF;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:63px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:466px;
  top:840px;
  width:0px;
  height:49px;
  color:#0000FF;
}
#u28_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:63px;
}
#u29 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:870px;
  top:426px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:310px;
  top:456px;
  width:560px;
  height:0px;
}
#u32_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:574px;
  height:20px;
}
#u33 {
  position:absolute;
  left:230px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:962px;
  top:486px;
  width:0px;
  height:65px;
  color:#000000;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:79px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:870px;
  top:550px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:870px;
  top:658px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:963px;
  top:610px;
  height:48px;
  color:#0000FF;
}
#u40_seg0 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:15px;
  height:20px;
}
#u40_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:62px;
}
#u41 {
  position:absolute;
  left:-51px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:870px;
  top:766px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:963px;
  top:718px;
  height:48px;
  color:#0000FF;
}
#u44_seg0 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:15px;
  height:20px;
}
#u44_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:62px;
}
#u45 {
  position:absolute;
  left:-51px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:870px;
  top:874px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:963px;
  top:826px;
  height:48px;
  color:#0000FF;
}
#u48_seg0 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:15px;
  height:20px;
}
#u48_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:62px;
}
#u49 {
  position:absolute;
  left:-51px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:870px;
  top:1103px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:963px;
  top:934px;
  width:0px;
  height:54px;
  color:#0000FF;
}
#u52_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u53 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:870px;
  top:988px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:870px;
  top:1219px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u57 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:963px;
  top:1048px;
  width:0px;
  height:54px;
  color:#0000FF;
}
#u58_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u59 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:963px;
  top:1165px;
  width:0px;
  height:54px;
  color:#0000FF;
}
#u60_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u61 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:549px;
  top:561px;
  width:40px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u63 {
  position:absolute;
  left:599px;
  top:559px;
  width:215px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:1049px;
  top:780px;
  width:70px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u66 {
  position:absolute;
  left:1129px;
  top:780px;
  width:237px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:44px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1049px;
  top:1120px;
  width:70px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u69 {
  position:absolute;
  left:1129px;
  top:1120px;
  width:256px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:66px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:182px;
  top:140px;
  width:328px;
  height:124px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:124px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
