﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:144px;
  top:152px;
  width:419px;
  height:750px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:145px;
  top:152px;
  width:417px;
  height:740px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u3 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:145px;
  top:246px;
  width:412px;
  height:542px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:542px;
}
#u5 {
  position:absolute;
  left:2px;
  top:263px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:157px;
  top:192px;
  width:390px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:144px;
  top:240px;
  width:417px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u9 {
  position:absolute;
  left:281px;
  top:90px;
  width:152px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:389px;
  top:263px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:144px;
  top:410px;
  width:419px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:402px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:419px;
  height:1px;
}
#u14 {
  position:absolute;
  left:457px;
  top:361px;
  width:69px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:144px;
  top:426px;
  width:419px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:161px;
  top:441px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:531px;
  top:438px;
  width:26px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:144px;
  top:500px;
  width:308px;
  height:197px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:197px;
}
#u23 {
  position:absolute;
  left:2px;
  top:90px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:144px;
  top:500px;
  width:419px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:144px;
  top:548px;
  width:419px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:144px;
  top:597px;
  width:419px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:144px;
  top:646px;
  width:419px;
  height:51px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:51px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:161px;
  top:566px;
  width:16px;
  height:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:197px;
  top:556px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:197px;
  top:606px;
  width:49px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:197px;
  top:656px;
  width:65px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:161px;
  top:616px;
  width:16px;
  height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:161px;
  top:664px;
  width:16px;
  height:13px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:153px;
  top:510px;
  width:30px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:197px;
  top:514px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:271px;
  top:264px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:279px;
  top:249px;
  width:32px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:15px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:4px;
  width:32px;
  height:2px;
}
#u51 {
  position:absolute;
  left:144px;
  top:180px;
  width:419px;
  height:64px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:64px;
}
#u52 {
  position:absolute;
  left:2px;
  top:24px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:196px;
  top:201px;
  width:128px;
  height:19px;
  font-size:16px;
  color:#CBCBCB;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:505px;
  top:832px;
  width:34px;
  height:36px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:205px;
  top:304px;
  width:47px;
  height:47px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u58 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:197px;
  top:361px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:327px;
  top:361px;
  width:58px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:329px;
  top:306px;
  width:45px;
  height:45px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:459px;
  top:303px;
  width:54px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:505px;
  top:195px;
  width:34px;
  height:35px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:861px;
  top:705px;
  width:22px;
  height:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:819px;
  top:152px;
  width:417px;
  height:740px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u72 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:820px;
  top:181px;
  width:416px;
  height:723px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u74 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:832px;
  top:192px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:819px;
  top:240px;
  width:417px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u78 {
  position:absolute;
  left:1180px;
  top:851px;
  width:34px;
  height:29px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:837px;
  top:448px;
  width:300px;
  height:41px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:837px;
  top:513px;
  width:300px;
  height:41px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:838px;
  top:575px;
  width:300px;
  height:41px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:837px;
  top:634px;
  width:300px;
  height:41px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:975px;
  top:364px;
  width:65px;
  height:27px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u89 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:835px;
  top:260px;
  width:130px;
  height:131px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
}
#u91 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1201px;
  top:452px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1202px;
  top:513px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1203px;
  top:567px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:1206px;
  top:636px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:838px;
  top:471px;
  width:15px;
  height:15px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:837px;
  top:537px;
  width:15px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:837px;
  top:404px;
  width:121px;
  height:27px;
  font-size:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:843px;
  top:410px;
  width:13px;
  height:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1147px;
  top:410px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:832px;
  top:595px;
  width:20px;
  height:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:539px;
  top:577px;
  width:267px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:250px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:267px;
  height:1px;
}
#u113 {
  position:absolute;
  left:1282px;
  top:535px;
  width:324px;
  height:149px;
  font-size:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:149px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1754px;
  top:674px;
  width:22px;
  height:22px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u116 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1712px;
  top:152px;
  width:417px;
  height:740px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u118 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1713px;
  top:181px;
  width:416px;
  height:723px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u120 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1725px;
  top:192px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1712px;
  top:240px;
  width:417px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u124 {
  position:absolute;
  left:2060px;
  top:797px;
  width:43px;
  height:35px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1811px;
  top:450px;
  width:300px;
  height:41px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1812px;
  top:510px;
  width:300px;
  height:41px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1813px;
  top:569px;
  width:300px;
  height:41px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1812px;
  top:632px;
  width:300px;
  height:41px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1865px;
  top:364px;
  width:70px;
  height:27px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u135 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1725px;
  top:260px;
  width:134px;
  height:134px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u137 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1829px;
  top:364px;
  width:30px;
  height:30px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u139 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:2082px;
  top:201px;
  width:22px;
  height:22px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u141 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:2085px;
  top:455px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:2086px;
  top:512px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:2088px;
  top:566px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:2088px;
  top:636px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:1755px;
  top:449px;
  width:47px;
  height:43px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u151 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1755px;
  top:511px;
  width:47px;
  height:43px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u153 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1756px;
  top:571px;
  width:47px;
  height:43px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u155 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1756px;
  top:634px;
  width:47px;
  height:43px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u157 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1721px;
  top:192px;
  width:406px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:40px;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:402px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:1706px;
  top:240px;
  width:434px;
  height:10px;
}
#u160_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u160_end {
  position:absolute;
  left:417px;
  top:-5px;
  width:18px;
  height:20px;
}
#u160_line {
  position:absolute;
  left:0px;
  top:5px;
  width:434px;
  height:1px;
}
#u161 {
  position:absolute;
  left:1720px;
  top:458px;
  width:25px;
  height:25px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:1721px;
  top:519px;
  width:24px;
  height:24px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u164 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:1712px;
  top:854px;
  width:417px;
  height:50px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:50px;
}
#u166 {
  position:absolute;
  left:2px;
  top:17px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1721px;
  top:580px;
  width:25px;
  height:25px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u168 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1721px;
  top:640px;
  width:25px;
  height:25px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u170 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1725px;
  top:865px;
  width:49px;
  height:28px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:2001px;
  top:865px;
  width:121px;
  height:28px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:1723px;
  top:404px;
  width:121px;
  height:27px;
  font-size:16px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u176 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1729px;
  top:410px;
  width:13px;
  height:14px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u178 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:2033px;
  top:410px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:1188px;
  top:197px;
  width:34px;
  height:35px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u182 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
