﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:51px;
  top:10px;
  width:1212px;
  height:748px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:749px;
}
#u1 {
  position:absolute;
  left:2px;
  top:366px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:532px;
  top:115px;
  width:215px;
  height:382px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u3 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:532px;
  top:115px;
  width:215px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:542px;
  top:145px;
  width:34px;
  height:34px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:549px;
  top:152px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:550px;
  top:155px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:595px;
  top:145px;
  width:34px;
  height:34px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:602px;
  top:152px;
  width:22px;
  height:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:603px;
  top:155px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:649px;
  top:145px;
  width:34px;
  height:34px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:656px;
  top:152px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:657px;
  top:155px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:701px;
  top:146px;
  width:34px;
  height:34px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:708px;
  top:153px;
  width:22px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:709px;
  top:156px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:542px;
  top:201px;
  width:34px;
  height:34px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:549px;
  top:208px;
  width:22px;
  height:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:550px;
  top:211px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:595px;
  top:201px;
  width:34px;
  height:34px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u37 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:602px;
  top:208px;
  width:22px;
  height:22px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:603px;
  top:211px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:649px;
  top:201px;
  width:34px;
  height:34px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u43 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:656px;
  top:208px;
  width:22px;
  height:22px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:657px;
  top:211px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:701px;
  top:202px;
  width:34px;
  height:34px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u49 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:708px;
  top:209px;
  width:22px;
  height:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u51 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:709px;
  top:212px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:542px;
  top:257px;
  width:34px;
  height:34px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u55 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:549px;
  top:264px;
  width:22px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:550px;
  top:267px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:595px;
  top:257px;
  width:34px;
  height:34px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u61 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:602px;
  top:264px;
  width:22px;
  height:22px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u63 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:603px;
  top:267px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:649px;
  top:257px;
  width:34px;
  height:34px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u67 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:656px;
  top:264px;
  width:22px;
  height:22px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u69 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:657px;
  top:267px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:701px;
  top:258px;
  width:34px;
  height:34px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u73 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:708px;
  top:265px;
  width:22px;
  height:22px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u75 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:709px;
  top:268px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:542px;
  top:313px;
  width:34px;
  height:34px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u79 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:549px;
  top:320px;
  width:22px;
  height:22px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u81 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:550px;
  top:322px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:595px;
  top:313px;
  width:34px;
  height:34px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u85 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:602px;
  top:320px;
  width:22px;
  height:22px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u87 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:603px;
  top:322px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:649px;
  top:313px;
  width:34px;
  height:34px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u91 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:656px;
  top:320px;
  width:22px;
  height:22px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u93 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:657px;
  top:322px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:701px;
  top:313px;
  width:34px;
  height:34px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u97 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:708px;
  top:320px;
  width:22px;
  height:22px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u99 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:709px;
  top:324px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:541px;
  top:368px;
  width:34px;
  height:34px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u103 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:548px;
  top:375px;
  width:22px;
  height:22px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u105 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:549px;
  top:378px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:594px;
  top:368px;
  width:34px;
  height:34px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u109 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:601px;
  top:375px;
  width:22px;
  height:22px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u111 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:602px;
  top:378px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:648px;
  top:368px;
  width:34px;
  height:34px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u115 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:654px;
  top:375px;
  width:22px;
  height:22px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u117 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:656px;
  top:378px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:700px;
  top:369px;
  width:34px;
  height:34px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u121 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:707px;
  top:376px;
  width:22px;
  height:22px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u123 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:708px;
  top:379px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:532px;
  top:442px;
  width:215px;
  height:55px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:56px;
}
#u127 {
  position:absolute;
  left:2px;
  top:20px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:621px;
  top:459px;
  width:48px;
  height:21px;
  font-size:18px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:679px;
  top:418px;
  width:101px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:14px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:101px;
  height:1px;
}
#u131 {
  position:absolute;
  left:776px;
  top:423px;
  width:10px;
  height:195px;
}
#u131_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u131_end {
  position:absolute;
  left:-5px;
  top:186px;
  width:20px;
  height:14px;
}
#u131_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:195px;
}
#u132 {
  position:absolute;
  left:768px;
  top:628px;
  width:71px;
  height:18px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:490px;
  top:135px;
  width:35px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:26px;
  top:-5px;
  width:14px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:35px;
  height:1px;
}
#u135 {
  position:absolute;
  left:487px;
  top:141px;
  width:10px;
  height:276px;
}
#u135_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u135_end {
  position:absolute;
  left:-5px;
  top:267px;
  width:20px;
  height:14px;
}
#u135_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:276px;
}
#u136 {
  position:absolute;
  left:492px;
  top:412px;
  width:35px;
  height:10px;
}
#u136_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u136_end {
  position:absolute;
  left:26px;
  top:-5px;
  width:14px;
  height:20px;
}
#u136_line {
  position:absolute;
  left:0px;
  top:5px;
  width:35px;
  height:1px;
}
#u137 {
  position:absolute;
  left:451px;
  top:313px;
  width:10px;
  height:195px;
}
#u137_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u137_end {
  position:absolute;
  left:-5px;
  top:186px;
  width:20px;
  height:14px;
}
#u137_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:195px;
}
#u138 {
  position:absolute;
  left:456px;
  top:309px;
  width:35px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:26px;
  top:-5px;
  width:14px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:35px;
  height:1px;
}
#u139 {
  position:absolute;
  left:440px;
  top:508px;
  width:71px;
  height:15px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:611px;
  top:421px;
  width:11px;
  height:11px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u142 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:627px;
  top:421px;
  width:11px;
  height:11px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u144 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:658px;
  top:421px;
  width:11px;
  height:11px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u146 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:642px;
  top:421px;
  width:11px;
  height:11px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u148 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:242px;
  top:155px;
  width:167px;
  height:72px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:73px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:51px;
  top:66px;
  width:1212px;
  height:10px;
}
#u151_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u151_end {
  position:absolute;
  left:1203px;
  top:-5px;
  width:14px;
  height:20px;
}
#u151_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1212px;
  height:1px;
}
#u152 {
  position:absolute;
  left:95px;
  top:30px;
  width:885px;
  height:25px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:26px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  word-wrap:break-word;
}
