﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:797px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:95px;
  width:215px;
  height:381px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u1 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u2 {
  position:absolute;
  left:160px;
  top:95px;
  width:215px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:160px;
  top:95px;
  width:215px;
  height:381px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u5 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u6 {
  position:absolute;
  left:224px;
  top:209px;
  width:91px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u8 {
  position:absolute;
  left:186px;
  top:158px;
  width:174px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:48px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:63px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:62px;
}
#u10 {
  position:absolute;
  left:160px;
  top:95px;
  width:215px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u12 {
  position:absolute;
  left:348px;
  top:452px;
  width:22px;
  height:20px;
  font-size:6px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:18px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
}
#u14 {
  position:absolute;
  left:160px;
  top:95px;
  width:215px;
  height:381px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u15 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u16 {
  position:absolute;
  left:520px;
  top:95px;
  width:215px;
  height:381px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u17 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u18 {
  position:absolute;
  left:520px;
  top:95px;
  width:215px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u20 {
  position:absolute;
  left:520px;
  top:95px;
  width:215px;
  height:381px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u21 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u22 {
  position:absolute;
  left:584px;
  top:209px;
  width:91px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u24 {
  position:absolute;
  left:546px;
  top:158px;
  width:174px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:48px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:63px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:62px;
}
#u26 {
  position:absolute;
  left:520px;
  top:95px;
  width:215px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u28 {
  position:absolute;
  left:708px;
  top:452px;
  width:22px;
  height:20px;
  font-size:6px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:18px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
}
#u30 {
  position:absolute;
  left:595px;
  top:452px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u32 {
  position:absolute;
  left:152px;
  top:50px;
  width:242px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
}
#u34 {
  position:absolute;
  left:586px;
  top:60px;
  width:14px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u36 {
  position:absolute;
  left:520px;
  top:34px;
  width:277px;
  height:32px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:33px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
}
