﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:30px;
  width:527px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u3 {
  position:absolute;
  left:390px;
  top:341px;
  width:522px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:60px;
  top:150px;
  width:268px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:168px;
  width:268px;
  height:452px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u8 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:78px;
  top:155px;
  width:52px;
  height:10px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:74px;
  top:251px;
  width:241px;
  height:139px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u12 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:284px;
  top:363px;
  width:18px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:90px;
  top:308px;
  width:6px;
  height:6px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:108px;
  top:303px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:288px;
  top:260px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:60px;
  top:576px;
  width:268px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u22 {
  position:absolute;
  left:170px;
  top:591px;
  width:48px;
  height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:60px;
  top:168px;
  width:268px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:72px;
  top:176px;
  width:163px;
  height:15px;
  font-size:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:292px;
  top:168px;
  width:18px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:260px;
  top:175px;
  width:20px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:74px;
  top:282px;
  width:241px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u33 {
  position:absolute;
  left:90px;
  top:262px;
  width:53px;
  height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:74px;
  top:197px;
  width:117px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:14px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:186px;
  top:211px;
  width:16px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:278px;
  top:345px;
  width:102px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:102px;
  height:1px;
}
