﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:73px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:160px;
  top:223px;
  width:520px;
  height:4px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:4px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-6px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:330px;
  top:210px;
  width:30px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:160px;
  top:223px;
  width:170px;
  height:4px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:4px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:160px;
  top:771px;
  width:520px;
  height:4px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:4px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-6px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:330px;
  top:758px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:160px;
  top:771px;
  width:170px;
  height:4px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:4px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:160px;
  top:643px;
  width:520px;
  height:54px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:54px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:160px;
  top:554px;
  width:520px;
  height:4px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:4px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-6px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:160px;
  top:554px;
  width:170px;
  height:4px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:4px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:326px;
  top:536px;
  width:40px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:322px;
  top:470px;
  width:49px;
  height:56px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:56px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:160px;
  top:280px;
  width:520px;
  height:36px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:36px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:160px;
  top:822px;
  width:300px;
  height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:327px;
  top:548px;
  width:48px;
  height:85px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:85px;
}
#u30 {
  position:absolute;
  left:2px;
  top:34px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:100px;
  top:210px;
  width:30px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:710px;
  top:210px;
  width:30px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:541px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:710px;
  top:541px;
  width:30px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:100px;
  top:758px;
  width:30px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:700px;
  top:758px;
  width:30px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:820px;
  top:220px;
  width:330px;
  height:94px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:94px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:740px;
  top:221px;
  width:50px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
