﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:206px;
  width:340px;
  height:141px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:142px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
