﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:478px;
  top:332px;
  width:270px;
  height:112px;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:113px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:112px;
}
#u2 {
  position:absolute;
  left:495px;
  top:66px;
  width:235px;
  height:58px;
  font-family:'', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:59px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:67px;
}
#u4 {
  position:absolute;
  left:28px;
  top:20px;
  width:457px;
  height:120px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#990000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:121px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:120px;
}
#u6 {
  position:absolute;
  left:28px;
  top:140px;
  width:3952px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:3943px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3952px;
  height:1px;
}
#u7 {
  position:absolute;
  left:110px;
  top:190px;
  width:290px;
  height:515px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u8 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u9 {
  position:absolute;
  left:110px;
  top:190px;
  width:290px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u11 {
  position:absolute;
  left:233px;
  top:210px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u13 {
  position:absolute;
  left:295px;
  top:210px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u15 {
  position:absolute;
  left:110px;
  top:210px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u17 {
  position:absolute;
  left:172px;
  top:210px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u19 {
  position:absolute;
  left:357px;
  top:210px;
  width:43px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u21 {
  position:absolute;
  left:234px;
  top:622px;
  width:41px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u23 {
  position:absolute;
  left:111px;
  top:324px;
  width:289px;
  height:56px;
  color:#333333;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:57px;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:16px;
}
#u25 {
  position:absolute;
  left:178px;
  top:332px;
  width:45px;
  height:45px;
  font-size:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u27 {
  position:absolute;
  left:266px;
  top:332px;
  width:45px;
  height:45px;
  font-size:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u29 {
  position:absolute;
  left:183px;
  top:389px;
  width:39px;
  height:39px;
  font-size:34px;
  color:#333333;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u31 {
  position:absolute;
  left:270px;
  top:389px;
  width:39px;
  height:39px;
  font-size:34px;
  color:#333333;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u33 {
  position:absolute;
  left:183px;
  top:281px;
  width:39px;
  height:39px;
  font-size:34px;
  color:#333333;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u35 {
  position:absolute;
  left:268px;
  top:281px;
  width:39px;
  height:39px;
  font-size:34px;
  color:#333333;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u37 {
  position:absolute;
  left:231px;
  top:355px;
  width:15px;
  height:20px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u39 {
  position:absolute;
  left:318px;
  top:355px;
  width:15px;
  height:20px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u41 {
  position:absolute;
  left:242px;
  top:628px;
  width:27px;
  height:36px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:37px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u43 {
  position:absolute;
  left:382px;
  top:355px;
  width:70px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:14px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u44 {
  position:absolute;
  left:478px;
  top:614px;
  width:270px;
  height:56px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:57px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:56px;
}
#u46 {
  position:absolute;
  left:382px;
  top:637px;
  width:70px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
