﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4147px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1280px;
  top:792px;
  width:22px;
  height:22px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1238px;
  top:270px;
  width:417px;
  height:740px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u3 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1239px;
  top:299px;
  width:416px;
  height:723px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u5 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1251px;
  top:310px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1238px;
  top:358px;
  width:417px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u9 {
  position:absolute;
  left:1337px;
  top:535px;
  width:300px;
  height:41px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1338px;
  top:595px;
  width:300px;
  height:41px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1339px;
  top:654px;
  width:300px;
  height:41px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1338px;
  top:717px;
  width:300px;
  height:41px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1391px;
  top:482px;
  width:70px;
  height:27px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1251px;
  top:378px;
  width:134px;
  height:134px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u20 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1355px;
  top:482px;
  width:30px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1455px;
  top:482px;
  width:64px;
  height:27px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1519px;
  top:482px;
  width:65px;
  height:27px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1583px;
  top:482px;
  width:65px;
  height:27px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1608px;
  top:319px;
  width:22px;
  height:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1611px;
  top:540px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1612px;
  top:597px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1614px;
  top:651px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1614px;
  top:721px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1281px;
  top:534px;
  width:47px;
  height:43px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1281px;
  top:596px;
  width:47px;
  height:43px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1282px;
  top:656px;
  width:47px;
  height:43px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1282px;
  top:719px;
  width:47px;
  height:43px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:521px;
  top:792px;
  width:22px;
  height:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u48 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:479px;
  top:270px;
  width:417px;
  height:740px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u50 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:480px;
  top:299px;
  width:416px;
  height:723px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u52 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:492px;
  top:310px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:479px;
  top:358px;
  width:417px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u56 {
  position:absolute;
  left:830px;
  top:950px;
  width:43px;
  height:35px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1377px;
  top:969px;
  width:14px;
  height:16px;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1403px;
  top:989px;
  width:288px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:549px;
  top:535px;
  width:300px;
  height:41px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:550px;
  top:595px;
  width:300px;
  height:41px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:551px;
  top:654px;
  width:300px;
  height:41px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:550px;
  top:717px;
  width:300px;
  height:41px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:632px;
  top:482px;
  width:70px;
  height:27px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1247px;
  top:310px;
  width:406px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:402px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1232px;
  top:358px;
  width:434px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:417px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:434px;
  height:1px;
}
#u75 {
  position:absolute;
  left:339px;
  top:225px;
  width:745px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:28px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:393px;
  top:490px;
  width:143px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:126px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:143px;
  height:1px;
}
#u78 {
  position:absolute;
  left:196px;
  top:644px;
  width:198px;
  height:37px;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:37px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:393px;
  top:657px;
  width:99px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u81 {
  position:absolute;
  left:1236px;
  top:214px;
  width:425px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:28px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:393px;
  top:732px;
  width:99px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u84 {
  position:absolute;
  left:192px;
  top:705px;
  width:191px;
  height:75px;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:75px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:492px;
  top:378px;
  width:134px;
  height:134px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u87 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:596px;
  top:482px;
  width:30px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:696px;
  top:482px;
  width:64px;
  height:27px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u91 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:760px;
  top:482px;
  width:65px;
  height:27px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:196px;
  top:400px;
  width:197px;
  height:184px;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:184px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:824px;
  top:482px;
  width:65px;
  height:27px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:522px;
  top:1719px;
  width:22px;
  height:22px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u99 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:480px;
  top:1197px;
  width:417px;
  height:740px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u101 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:481px;
  top:1226px;
  width:416px;
  height:723px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u103 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:493px;
  top:1237px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u105 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:480px;
  top:1285px;
  width:417px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u107 {
  position:absolute;
  left:830px;
  top:1888px;
  width:45px;
  height:38px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u108 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:639px;
  top:1380px;
  width:231px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:522px;
  top:1462px;
  width:300px;
  height:44px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:523px;
  top:1522px;
  width:300px;
  height:44px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:524px;
  top:1581px;
  width:300px;
  height:44px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:523px;
  top:1650px;
  width:300px;
  height:44px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:493px;
  top:1305px;
  width:134px;
  height:134px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u120 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:597px;
  top:1409px;
  width:30px;
  height:30px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:2862px;
  top:791px;
  width:22px;
  height:22px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u124 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:2820px;
  top:269px;
  width:417px;
  height:740px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u126 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:2821px;
  top:297px;
  width:416px;
  height:723px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u128 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:2825px;
  top:309px;
  width:408px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:404px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:2810px;
  top:357px;
  width:436px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:419px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  height:1px;
}
#u132 {
  position:absolute;
  left:2834px;
  top:435px;
  width:18px;
  height:18px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u133 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:2834px;
  top:499px;
  width:18px;
  height:18px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u135 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:2834px;
  top:565px;
  width:18px;
  height:18px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u137 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:2834px;
  top:627px;
  width:18px;
  height:18px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u139 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:2821px;
  top:967px;
  width:416px;
  height:55px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:55px;
}
#u141 {
  position:absolute;
  left:2px;
  top:20px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:2836px;
  top:981px;
  width:121px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  visibility:hidden;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:2944px;
  top:981px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:2862px;
  top:433px;
  width:300px;
  height:44px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:2862px;
  top:499px;
  width:300px;
  height:44px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:2862px;
  top:561px;
  width:300px;
  height:44px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:2862px;
  top:627px;
  width:300px;
  height:44px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:2834px;
  top:377px;
  width:200px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:2820px;
  top:697px;
  width:417px;
  height:323px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:323px;
}
#u157 {
  position:absolute;
  left:2px;
  top:154px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:2977px;
  top:219px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:632px;
  top:1140px;
  width:148px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:47px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:1280px;
  top:1720px;
  width:22px;
  height:22px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u163 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1238px;
  top:1198px;
  width:417px;
  height:740px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u165 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1239px;
  top:1226px;
  width:416px;
  height:723px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u167 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1251px;
  top:1238px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:1238px;
  top:1286px;
  width:417px;
  height:10px;
}
#u170_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u170_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u170_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u171 {
  position:absolute;
  left:1397px;
  top:1380px;
  width:231px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1252px;
  top:1462px;
  width:300px;
  height:44px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:1253px;
  top:1528px;
  width:300px;
  height:44px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1254px;
  top:1582px;
  width:300px;
  height:44px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:1253px;
  top:1649px;
  width:300px;
  height:44px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:1251px;
  top:1306px;
  width:134px;
  height:134px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u182 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:1355px;
  top:1410px;
  width:30px;
  height:30px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u184 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:1240px;
  top:1226px;
  width:415px;
  height:723px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:723px;
}
#u186 {
  position:absolute;
  left:2px;
  top:354px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:1300px;
  top:1446px;
  width:294px;
  height:165px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:165px;
}
#u188 {
  position:absolute;
  left:2px;
  top:74px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:1292px;
  top:1554px;
  width:302px;
  height:10px;
}
#u189_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u189_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u189_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u190 {
  position:absolute;
  left:1292px;
  top:1452px;
  width:260px;
  height:66px;
  font-size:18px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:66px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:1350px;
  top:1570px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:1502px;
  top:1572px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:1438px;
  top:1560px;
  width:10px;
  height:52px;
}
#u196_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u196_end {
  position:absolute;
  left:-5px;
  top:35px;
  width:20px;
  height:18px;
}
#u196_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:52px;
}
#u197 {
  position:absolute;
  left:1300px;
  top:1446px;
  width:294px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u198 {
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:1570px;
  top:1582px;
  width:136px;
  height:10px;
}
#u199_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u199_end {
  position:absolute;
  left:119px;
  top:-5px;
  width:18px;
  height:20px;
}
#u199_line {
  position:absolute;
  left:0px;
  top:5px;
  width:136px;
  height:1px;
}
#u200 {
  position:absolute;
  left:1716px;
  top:1570px;
  width:300px;
  height:93px;
  font-size:16px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:93px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1391px;
  top:1152px;
  width:388px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:64px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:977px;
  top:487px;
  width:212px;
  height:67px;
  font-size:14px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:67px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:637px;
  top:1409px;
  width:70px;
  height:27px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u207 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:701px;
  top:1409px;
  width:64px;
  height:27px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u209 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:765px;
  top:1409px;
  width:65px;
  height:27px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u211 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:1395px;
  top:1410px;
  width:70px;
  height:27px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u213 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1459px;
  top:1410px;
  width:64px;
  height:27px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u215 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:1523px;
  top:1410px;
  width:65px;
  height:27px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u217 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1587px;
  top:1410px;
  width:65px;
  height:27px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u219 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:829px;
  top:1409px;
  width:65px;
  height:27px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u221 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:1246px;
  top:543px;
  width:25px;
  height:25px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u223 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:1247px;
  top:604px;
  width:24px;
  height:24px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u225 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1238px;
  top:972px;
  width:417px;
  height:50px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:50px;
}
#u227 {
  position:absolute;
  left:2px;
  top:17px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:2672px;
  top:343px;
  width:143px;
  height:37px;
  font-size:16px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:37px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:1580px;
  top:992px;
  width:99px;
  height:10px;
}
#u230_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u230_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u230_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u231 {
  position:absolute;
  left:1702px;
  top:969px;
  width:204px;
  height:112px;
  font-size:16px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:112px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:876px;
  top:458px;
  width:91px;
  height:10px;
}
#u233_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u233_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u233_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u234 {
  position:absolute;
  left:977px;
  top:450px;
  width:212px;
  height:33px;
  font-size:14px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:817px;
  top:1418px;
  width:131px;
  height:10px;
}
#u236_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u236_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:18px;
  height:20px;
}
#u236_line {
  position:absolute;
  left:0px;
  top:5px;
  width:131px;
  height:1px;
}
#u237 {
  position:absolute;
  left:964px;
  top:1409px;
  width:171px;
  height:37px;
  font-size:16px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:1617px;
  top:1464px;
  width:16px;
  height:13px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u240 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:1617px;
  top:1532px;
  width:16px;
  height:13px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u242 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:1617px;
  top:1592px;
  width:16px;
  height:13px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u244 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:1617px;
  top:1656px;
  width:16px;
  height:13px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u246 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:889px;
  top:490px;
  width:78px;
  height:10px;
}
#u247_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u247_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:18px;
  height:20px;
}
#u247_line {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  height:1px;
}
#u248 {
  position:absolute;
  left:3187px;
  top:391px;
  width:99px;
  height:10px;
}
#u248_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u248_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u248_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u249 {
  position:absolute;
  left:3306px;
  top:384px;
  width:204px;
  height:37px;
  font-size:16px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:882px;
  top:611px;
  width:91px;
  height:10px;
}
#u251_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u251_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u251_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u252 {
  position:absolute;
  left:852px;
  top:540px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u254 {
  position:absolute;
  left:853px;
  top:597px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u256 {
  position:absolute;
  left:855px;
  top:651px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:855px;
  top:721px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u260 {
  position:absolute;
  left:983px;
  top:600px;
  width:212px;
  height:117px;
  font-size:14px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:117px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:492px;
  top:534px;
  width:47px;
  height:43px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u263 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:493px;
  top:596px;
  width:47px;
  height:43px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u265 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:494px;
  top:656px;
  width:47px;
  height:43px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u267 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:494px;
  top:719px;
  width:47px;
  height:43px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u269 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:1247px;
  top:665px;
  width:25px;
  height:25px;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u271 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:1247px;
  top:725px;
  width:25px;
  height:25px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u273 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274 {
  position:absolute;
  left:1422px;
  top:982px;
  width:49px;
  height:28px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u276 {
  position:absolute;
  left:1395px;
  top:378px;
  width:200px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:848px;
  top:306px;
  width:34px;
  height:35px;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u279 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:855px;
  top:1240px;
  width:34px;
  height:35px;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u281 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:865px;
  top:1440px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u284 {
  position:absolute;
  left:866px;
  top:1522px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u286 {
  position:absolute;
  left:866px;
  top:1581px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u288 {
  position:absolute;
  left:866px;
  top:1650px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u290 {
  position:absolute;
  left:1607px;
  top:1238px;
  width:34px;
  height:35px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u291 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:1594px;
  top:1872px;
  width:45px;
  height:38px;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u293 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:1362px;
  top:1529px;
  width:134px;
  height:16px;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u296 {
  position:absolute;
  left:643px;
  top:2130px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u298 {
  position:absolute;
  left:480px;
  top:2200px;
  width:417px;
  height:740px;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u299 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:482px;
  top:2228px;
  width:416px;
  height:723px;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u301 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302 {
  position:absolute;
  left:480px;
  top:2288px;
  width:417px;
  height:10px;
}
#u302_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u302_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u302_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u303 {
  position:absolute;
  left:581px;
  top:2359px;
  width:288px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u305 {
  position:absolute;
  left:555px;
  top:2287px;
  width:14px;
  height:16px;
  font-size:18px;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u307 {
  position:absolute;
  left:581px;
  top:2307px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u309 {
  position:absolute;
  left:581px;
  top:2414px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u311 {
  position:absolute;
  left:581px;
  top:2470px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:581px;
  top:2524px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:581px;
  top:2582px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u317 {
  position:absolute;
  left:525px;
  top:2305px;
  width:47px;
  height:43px;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u318 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u319 {
  position:absolute;
  left:525px;
  top:2359px;
  width:47px;
  height:43px;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u320 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u321 {
  position:absolute;
  left:525px;
  top:2415px;
  width:47px;
  height:43px;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u322 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:525px;
  top:2470px;
  width:47px;
  height:43px;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u324 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u325 {
  position:absolute;
  left:525px;
  top:2526px;
  width:47px;
  height:43px;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u326 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u327 {
  position:absolute;
  left:525px;
  top:2581px;
  width:47px;
  height:43px;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u328 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u329 {
  position:absolute;
  left:494px;
  top:2240px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u330 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u331 {
  position:absolute;
  left:490px;
  top:2424px;
  width:25px;
  height:25px;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u332 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:490px;
  top:2318px;
  width:25px;
  height:25px;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u334 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335 {
  position:absolute;
  left:490px;
  top:2590px;
  width:25px;
  height:25px;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u336 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337 {
  position:absolute;
  left:482px;
  top:2901px;
  width:417px;
  height:50px;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:50px;
}
#u338 {
  position:absolute;
  left:2px;
  top:17px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339 {
  position:absolute;
  left:680px;
  top:2906px;
  width:26px;
  height:22px;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u340 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341 {
  position:absolute;
  left:647px;
  top:2932px;
  width:93px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u342 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u343 {
  position:absolute;
  left:490px;
  top:2532px;
  width:25px;
  height:25px;
}
#u343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u344 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u345 {
  position:absolute;
  left:490px;
  top:2479px;
  width:25px;
  height:25px;
  color:#999999;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u346 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347 {
  position:absolute;
  left:632px;
  top:378px;
  width:200px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
}
#u347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u349 {
  position:absolute;
  left:639px;
  top:1305px;
  width:200px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u350 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u351 {
  position:absolute;
  left:490px;
  top:1465px;
  width:47px;
  height:43px;
}
#u351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u352 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u353 {
  position:absolute;
  left:491px;
  top:1527px;
  width:47px;
  height:43px;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u354 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u355 {
  position:absolute;
  left:492px;
  top:1587px;
  width:47px;
  height:43px;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u356 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u357 {
  position:absolute;
  left:492px;
  top:1650px;
  width:47px;
  height:43px;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u358 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u359 {
  position:absolute;
  left:2068px;
  top:792px;
  width:22px;
  height:22px;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u360 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361 {
  position:absolute;
  left:2026px;
  top:270px;
  width:417px;
  height:740px;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u362 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363 {
  position:absolute;
  left:2027px;
  top:299px;
  width:416px;
  height:723px;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u364 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365 {
  position:absolute;
  left:2039px;
  top:310px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u366 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u367 {
  position:absolute;
  left:2026px;
  top:358px;
  width:417px;
  height:10px;
}
#u367_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u367_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u367_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u368 {
  position:absolute;
  left:2125px;
  top:535px;
  width:300px;
  height:41px;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:2126px;
  top:595px;
  width:300px;
  height:41px;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u372 {
  position:absolute;
  left:2127px;
  top:654px;
  width:300px;
  height:41px;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u374 {
  position:absolute;
  left:2126px;
  top:717px;
  width:300px;
  height:41px;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u376 {
  position:absolute;
  left:2179px;
  top:482px;
  width:70px;
  height:27px;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u377 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u378 {
  position:absolute;
  left:2039px;
  top:378px;
  width:134px;
  height:134px;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u379 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u380 {
  position:absolute;
  left:2143px;
  top:482px;
  width:30px;
  height:30px;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u381 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382 {
  position:absolute;
  left:2243px;
  top:482px;
  width:64px;
  height:27px;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u383 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u384 {
  position:absolute;
  left:2307px;
  top:482px;
  width:65px;
  height:27px;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u385 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u386 {
  position:absolute;
  left:2371px;
  top:482px;
  width:65px;
  height:27px;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u387 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u388 {
  position:absolute;
  left:2396px;
  top:319px;
  width:22px;
  height:22px;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u389 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390 {
  position:absolute;
  left:2399px;
  top:540px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u392 {
  position:absolute;
  left:2400px;
  top:597px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u394 {
  position:absolute;
  left:2402px;
  top:651px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u396 {
  position:absolute;
  left:2402px;
  top:721px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u398 {
  position:absolute;
  left:2069px;
  top:534px;
  width:47px;
  height:43px;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u399 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u400 {
  position:absolute;
  left:2069px;
  top:596px;
  width:47px;
  height:43px;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u401 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u402 {
  position:absolute;
  left:2070px;
  top:656px;
  width:47px;
  height:43px;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u403 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u404 {
  position:absolute;
  left:2070px;
  top:719px;
  width:47px;
  height:43px;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u405 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u406 {
  position:absolute;
  left:2035px;
  top:310px;
  width:406px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:40px;
}
#u407 {
  position:absolute;
  left:2px;
  top:2px;
  width:402px;
  word-wrap:break-word;
}
#u408 {
  position:absolute;
  left:2020px;
  top:358px;
  width:434px;
  height:10px;
}
#u408_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u408_end {
  position:absolute;
  left:417px;
  top:-5px;
  width:18px;
  height:20px;
}
#u408_line {
  position:absolute;
  left:0px;
  top:5px;
  width:434px;
  height:1px;
}
#u409 {
  position:absolute;
  left:2034px;
  top:543px;
  width:25px;
  height:25px;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u410 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411 {
  position:absolute;
  left:2035px;
  top:604px;
  width:24px;
  height:24px;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u412 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413 {
  position:absolute;
  left:2026px;
  top:972px;
  width:417px;
  height:50px;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:50px;
}
#u414 {
  position:absolute;
  left:2px;
  top:17px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415 {
  position:absolute;
  left:2035px;
  top:665px;
  width:25px;
  height:25px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u416 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417 {
  position:absolute;
  left:2035px;
  top:725px;
  width:25px;
  height:25px;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u418 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419 {
  position:absolute;
  left:2210px;
  top:982px;
  width:49px;
  height:28px;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u420 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u421 {
  position:absolute;
  left:2183px;
  top:378px;
  width:200px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
}
#u421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u423 {
  position:absolute;
  left:2713px;
  top:390px;
  width:127px;
  height:10px;
}
#u423_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u423_end {
  position:absolute;
  left:110px;
  top:-5px;
  width:18px;
  height:20px;
}
#u423_line {
  position:absolute;
  left:0px;
  top:5px;
  width:127px;
  height:1px;
}
#u424 {
  position:absolute;
  left:2028px;
  top:299px;
  width:415px;
  height:723px;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:723px;
}
#u425 {
  position:absolute;
  left:2px;
  top:354px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426 {
  position:absolute;
  left:2089px;
  top:576px;
  width:294px;
  height:165px;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:165px;
}
#u427 {
  position:absolute;
  left:2px;
  top:74px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428 {
  position:absolute;
  left:2081px;
  top:684px;
  width:302px;
  height:10px;
}
#u428_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u428_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u428_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u429 {
  position:absolute;
  left:2080px;
  top:582px;
  width:260px;
  height:66px;
  font-size:18px;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:66px;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u431 {
  position:absolute;
  left:2139px;
  top:700px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u433 {
  position:absolute;
  left:2291px;
  top:702px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u435 {
  position:absolute;
  left:2227px;
  top:690px;
  width:10px;
  height:52px;
}
#u435_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u435_end {
  position:absolute;
  left:-5px;
  top:35px;
  width:20px;
  height:18px;
}
#u435_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:52px;
}
#u436 {
  position:absolute;
  left:2089px;
  top:576px;
  width:294px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u437 {
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  word-wrap:break-word;
}
#u438 {
  position:absolute;
  left:2151px;
  top:659px;
  width:121px;
  height:16px;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u439 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u440 {
  position:absolute;
  left:2272px;
  top:663px;
  width:213px;
  height:10px;
}
#u440_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u440_end {
  position:absolute;
  left:196px;
  top:-5px;
  width:18px;
  height:20px;
}
#u440_line {
  position:absolute;
  left:0px;
  top:5px;
  width:213px;
  height:1px;
}
#u441 {
  position:absolute;
  left:2505px;
  top:646px;
  width:220px;
  height:56px;
  font-size:16px;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
}
#u442 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u443 {
  position:absolute;
  left:2125px;
  top:658px;
  width:15px;
  height:16px;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u444 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445 {
  position:absolute;
  left:1336px;
  top:1529px;
  width:16px;
  height:18px;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u446 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447 {
  position:absolute;
  left:3628px;
  top:782px;
  width:22px;
  height:22px;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u448 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449 {
  position:absolute;
  left:3586px;
  top:260px;
  width:417px;
  height:740px;
}
#u449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u450 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  position:absolute;
  left:3587px;
  top:289px;
  width:416px;
  height:723px;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u452 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453 {
  position:absolute;
  left:3599px;
  top:300px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u454 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u455 {
  position:absolute;
  left:3586px;
  top:348px;
  width:417px;
  height:10px;
}
#u455_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u455_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u455_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u456 {
  position:absolute;
  left:3739px;
  top:472px;
  width:70px;
  height:27px;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u457 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u458 {
  position:absolute;
  left:3599px;
  top:368px;
  width:134px;
  height:134px;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u459 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u460 {
  position:absolute;
  left:3703px;
  top:472px;
  width:30px;
  height:30px;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u461 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462 {
  position:absolute;
  left:3803px;
  top:472px;
  width:64px;
  height:27px;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u463 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u464 {
  position:absolute;
  left:3867px;
  top:472px;
  width:65px;
  height:27px;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u465 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u466 {
  position:absolute;
  left:3931px;
  top:472px;
  width:65px;
  height:27px;
  color:#CCCCCC;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u467 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u468 {
  position:absolute;
  left:3955px;
  top:296px;
  width:34px;
  height:35px;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u469 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  position:absolute;
  left:3739px;
  top:368px;
  width:200px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u472 {
  position:absolute;
  left:3708px;
  top:736px;
  width:190px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u474 {
  position:absolute;
  left:3708px;
  top:608px;
  width:200px;
  height:100px;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u475 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u476 {
  position:absolute;
  left:3688px;
  top:200px;
  width:241px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u478 {
  position:absolute;
  left:4030px;
  top:486px;
  width:117px;
  height:16px;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u480 {
  position:absolute;
  left:491px;
  top:2368px;
  width:24px;
  height:24px;
  color:#E4E4E4;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u481 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482 {
  position:absolute;
  left:980px;
  top:2362px;
  width:355px;
  height:56px;
  font-size:16px;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:56px;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u484 {
  position:absolute;
  left:766px;
  top:2376px;
  width:204px;
  height:10px;
}
#u484_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u484_end {
  position:absolute;
  left:187px;
  top:-5px;
  width:18px;
  height:20px;
}
#u484_line {
  position:absolute;
  left:0px;
  top:5px;
  width:204px;
  height:1px;
}
