﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:22px;
  width:1290px;
  height:660px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:661px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:68px;
  width:1285px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1276px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1285px;
  height:1px;
}
#u3 {
  position:absolute;
  left:115px;
  top:40px;
  width:875px;
  height:25px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:26px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:115px;
  top:184px;
  width:249px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:182px;
  top:130px;
  width:34px;
  height:33px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:189px;
  top:137px;
  width:22px;
  height:21px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:190px;
  top:140px;
  width:30px;
  height:12px;
  font-size:11px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:115px;
  top:97px;
  width:159px;
  height:25px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:115px;
  top:225px;
  width:249px;
  height:226px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:227px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:500px;
  top:97px;
  width:101px;
  height:25px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:500px;
  top:179px;
  width:249px;
  height:234px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:235px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:820px;
  top:131px;
  width:182px;
  height:76px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:77px;
}
#u22 {
  position:absolute;
  left:2px;
  top:27px;
  width:178px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:800px;
  top:97px;
  width:101px;
  height:25px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:800px;
  top:217px;
  width:249px;
  height:234px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:235px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1110px;
  top:97px;
  width:180px;
  height:25px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1110px;
  top:217px;
  width:249px;
  height:234px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:235px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1161px;
  top:154px;
  width:11px;
  height:11px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1177px;
  top:154px;
  width:11px;
  height:11px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1209px;
  top:154px;
  width:11px;
  height:11px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1193px;
  top:154px;
  width:11px;
  height:11px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:759px;
  top:74px;
  width:10px;
  height:606px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:597px;
  width:20px;
  height:14px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:606px;
}
#u40 {
  position:absolute;
  left:1049px;
  top:74px;
  width:10px;
  height:606px;
}
#u40_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u40_end {
  position:absolute;
  left:-5px;
  top:597px;
  width:20px;
  height:14px;
}
#u40_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:606px;
}
#u41 {
  position:absolute;
  left:440px;
  top:74px;
  width:10px;
  height:608px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:599px;
  width:20px;
  height:14px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:608px;
}
#u42 {
  position:absolute;
  left:580px;
  top:131px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u43 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
