﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:35px;
  width:406px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:95px;
  width:1640px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1640px;
  height:1px;
}
#u3 {
  position:absolute;
  left:80px;
  top:210px;
  width:270px;
  height:170px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u4 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:80px;
  top:259px;
  width:270px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u6 {
  position:absolute;
  left:195px;
  top:225px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:279px;
  width:250px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:330px;
  width:270px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u11 {
  position:absolute;
  left:210px;
  top:337px;
  width:10px;
  height:42px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u12 {
  position:absolute;
  left:128px;
  top:346px;
  width:37px;
  height:16px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:256px;
  top:346px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:80px;
  top:145px;
  width:259px;
  height:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:36px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:540px;
  top:145px;
  width:259px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:80px;
  top:464px;
  width:249px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:77px;
  top:524px;
  width:262px;
  height:26px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:26px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:130px;
  top:528px;
  width:170px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:77px;
  top:574px;
  width:262px;
  height:26px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:130px;
  top:578px;
  width:170px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:540px;
  top:464px;
  width:326px;
  height:36px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:36px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:534px;
  top:524px;
  width:262px;
  height:26px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:572px;
  top:528px;
  width:196px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:534px;
  top:574px;
  width:262px;
  height:26px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:572px;
  top:578px;
  width:196px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
