﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:543px;
  top:76px;
  width:235px;
  height:58px;
  font-family:'', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:59px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:67px;
}
#u2 {
  position:absolute;
  left:66px;
  top:30px;
  width:457px;
  height:120px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#990000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:121px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:120px;
}
#u4 {
  position:absolute;
  left:66px;
  top:150px;
  width:3952px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:3943px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3952px;
  height:1px;
}
