﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:8px;
  top:10px;
  width:1120px;
  height:794px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:795px;
}
#u1 {
  position:absolute;
  left:2px;
  top:389px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:69px;
  width:1120px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1111px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1120px;
  height:1px;
}
#u3 {
  position:absolute;
  left:587px;
  top:116px;
  width:458px;
  height:635px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:636px;
}
#u4 {
  position:absolute;
  left:2px;
  top:310px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:214px;
  top:572px;
  width:186px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:33px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:213px;
  top:279px;
  width:208px;
  height:42px;
  font-size:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:43px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:784px;
  top:124px;
  width:150px;
  height:22px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:587px;
  top:147px;
  width:458px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:449px;
  top:-5px;
  width:14px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u12 {
  position:absolute;
  left:587px;
  top:183px;
  width:458px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:449px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u13 {
  position:absolute;
  left:646px;
  top:152px;
  width:10px;
  height:599px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:590px;
  width:20px;
  height:14px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:599px;
}
#u14 {
  position:absolute;
  left:724px;
  top:152px;
  width:10px;
  height:599px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:590px;
  width:20px;
  height:14px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:599px;
}
#u15 {
  position:absolute;
  left:802px;
  top:152px;
  width:10px;
  height:599px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:590px;
  width:20px;
  height:14px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:599px;
}
#u16 {
  position:absolute;
  left:678px;
  top:163px;
  width:53px;
  height:17px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:754px;
  top:163px;
  width:53px;
  height:17px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:913px;
  top:163px;
  width:53px;
  height:17px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:587px;
  top:218px;
  width:458px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:449px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u23 {
  position:absolute;
  left:600px;
  top:198px;
  width:53px;
  height:17px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:678px;
  top:198px;
  width:53px;
  height:17px;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:823px;
  top:198px;
  width:202px;
  height:17px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:592px;
  top:311px;
  width:458px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:449px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u30 {
  position:absolute;
  left:731px;
  top:198px;
  width:91px;
  height:17px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:587px;
  top:259px;
  width:458px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:449px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u33 {
  position:absolute;
  left:600px;
  top:238px;
  width:53px;
  height:17px;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:677px;
  top:238px;
  width:37px;
  height:17px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:731px;
  top:238px;
  width:91px;
  height:17px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:823px;
  top:237px;
  width:202px;
  height:17px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:600px;
  top:279px;
  width:53px;
  height:18px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:677px;
  top:279px;
  width:37px;
  height:17px;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:731px;
  top:279px;
  width:91px;
  height:17px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:822px;
  top:284px;
  width:202px;
  height:17px;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:587px;
  top:370px;
  width:458px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:449px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u50 {
  position:absolute;
  left:600px;
  top:331px;
  width:53px;
  height:18px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:677px;
  top:332px;
  width:37px;
  height:17px;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:731px;
  top:332px;
  width:91px;
  height:17px;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:822px;
  top:332px;
  width:202px;
  height:33px;
  font-size:14px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:34px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:587px;
  top:428px;
  width:458px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:449px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u59 {
  position:absolute;
  left:600px;
  top:390px;
  width:53px;
  height:18px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:677px;
  top:391px;
  width:37px;
  height:17px;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:731px;
  top:391px;
  width:91px;
  height:20px;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:822px;
  top:394px;
  width:202px;
  height:17px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
