﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1591px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1323px;
  top:160px;
  width:268px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1323px;
  top:178px;
  width:268px;
  height:452px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u3 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1323px;
  top:214px;
  width:268px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1347px;
  top:186px;
  width:81px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1341px;
  top:165px;
  width:52px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1523px;
  top:550px;
  width:40px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1535px;
  top:556px;
  width:17px;
  height:32px;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:32px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1333px;
  top:234px;
  width:250px;
  height:77px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:77px;
}
#u14 {
  position:absolute;
  left:2px;
  top:30px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1351px;
  top:250px;
  width:195px;
  height:15px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1351px;
  top:280px;
  width:189px;
  height:18px;
  color:#C9C9C9;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1333px;
  top:320px;
  width:250px;
  height:77px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:77px;
}
#u20 {
  position:absolute;
  left:2px;
  top:30px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1351px;
  top:336px;
  width:141px;
  height:15px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:1351px;
  top:364px;
  width:189px;
  height:18px;
  color:#C9C9C9;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1551px;
  top:280px;
  width:18px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1333px;
  top:408px;
  width:250px;
  height:77px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:77px;
}
#u28 {
  position:absolute;
  left:2px;
  top:30px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1351px;
  top:424px;
  width:146px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1351px;
  top:452px;
  width:189px;
  height:18px;
  color:#C9C9C9;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:612px;
  top:474px;
  width:230px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u34 {
  position:absolute;
  left:612px;
  top:494px;
  width:230px;
  height:36px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:847px;
  top:408px;
  width:270px;
  height:170px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u37 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:847px;
  top:458px;
  width:270px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u39 {
  position:absolute;
  left:963px;
  top:424px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:865px;
  top:477px;
  width:241px;
  height:40px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:847px;
  top:528px;
  width:270px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u44 {
  position:absolute;
  left:977px;
  top:536px;
  width:10px;
  height:42px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u45 {
  position:absolute;
  left:903px;
  top:541px;
  width:37px;
  height:23px;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1033px;
  top:541px;
  width:37px;
  height:23px;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:1094px;
  top:544px;
  width:219px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:219px;
  height:1px;
}
#u50 {
  position:absolute;
  left:1127px;
  top:563px;
  width:196px;
  height:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:43px;
  top:30px;
  width:647px;
  height:45px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:45px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u55 {
  position:absolute;
  left:330px;
  top:160px;
  width:268px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u56 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:330px;
  top:178px;
  width:268px;
  height:452px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u58 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:348px;
  top:165px;
  width:52px;
  height:10px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:344px;
  top:261px;
  width:241px;
  height:139px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u62 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:554px;
  top:373px;
  width:18px;
  height:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u64 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:360px;
  top:318px;
  width:6px;
  height:6px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:378px;
  top:313px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:558px;
  top:270px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:330px;
  top:178px;
  width:268px;
  height:60px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:344px;
  top:292px;
  width:241px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u74 {
  position:absolute;
  left:360px;
  top:272px;
  width:53px;
  height:18px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:330px;
  top:583px;
  width:268px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u77 {
  position:absolute;
  left:398px;
  top:598px;
  width:47px;
  height:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:492px;
  top:596px;
  width:10px;
  height:23px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u79_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u80 {
  position:absolute;
  left:526px;
  top:598px;
  width:48px;
  height:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:434px;
  top:200px;
  width:56px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:394px;
  top:197px;
  width:22px;
  height:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:368px;
  top:197px;
  width:22px;
  height:22px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u87 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:374px;
  top:203px;
  width:10px;
  height:10px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:544px;
  top:202px;
  width:16px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u91 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:44px;
  top:160px;
  width:268px;
  height:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u93 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:44px;
  top:178px;
  width:268px;
  height:452px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u95 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:62px;
  top:165px;
  width:52px;
  height:10px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:58px;
  top:261px;
  width:241px;
  height:139px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u99 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:268px;
  top:373px;
  width:18px;
  height:18px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u101 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:74px;
  top:318px;
  width:6px;
  height:6px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:92px;
  top:313px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:272px;
  top:270px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:44px;
  top:178px;
  width:268px;
  height:60px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u109 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:58px;
  top:292px;
  width:241px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u111 {
  position:absolute;
  left:74px;
  top:272px;
  width:53px;
  height:18px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:44px;
  top:583px;
  width:268px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u114 {
  position:absolute;
  left:112px;
  top:598px;
  width:47px;
  height:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:206px;
  top:596px;
  width:10px;
  height:23px;
}
#u116_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u116_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u116_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u117 {
  position:absolute;
  left:240px;
  top:598px;
  width:48px;
  height:18px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:151px;
  top:198px;
  width:56px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:85px;
  top:196px;
  width:20px;
  height:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:260px;
  top:199px;
  width:16px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u124 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:110px;
  top:195px;
  width:22px;
  height:22px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u126 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
