﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:55px;
  top:20px;
  width:332px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:24px;
  top:67px;
  width:1196px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1196px;
  height:1px;
}
#u3 {
  position:absolute;
  left:71px;
  top:125px;
  width:829px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:25px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  white-space:nowrap;
}
