﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:156px;
  width:1965px;
  height:64px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1965px;
  height:64px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1965px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:650px;
  top:330px;
  width:336px;
  height:290px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:290px;
}
#u3 {
  position:absolute;
  left:2px;
  top:137px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:655px;
  top:560px;
  width:331px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:314px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:331px;
  height:1px;
}
#u5 {
  position:absolute;
  left:652px;
  top:372px;
  width:331px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:314px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:331px;
  height:1px;
}
#u6 {
  position:absolute;
  left:788px;
  top:344px;
  width:49px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:786px;
  top:580px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:684px;
  top:408px;
  width:57px;
  height:56px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:872px;
  top:408px;
  width:57px;
  height:56px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:778px;
  top:486px;
  width:57px;
  height:56px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:778px;
  top:408px;
  width:57px;
  height:56px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:684px;
  top:486px;
  width:57px;
  height:56px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:872px;
  top:486px;
  width:57px;
  height:56px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1150px;
  top:330px;
  width:730px;
  height:420px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:420px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
