﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1759px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:33px;
  width:607px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:84px;
  width:1480px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1480px;
  height:1px;
}
#u3 {
  position:absolute;
  left:70px;
  top:150px;
  width:268px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u4 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:168px;
  width:268px;
  height:452px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u6 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:89px;
  top:156px;
  width:52px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:576px;
  width:268px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u10 {
  position:absolute;
  left:298px;
  top:182px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:88px;
  top:308px;
  width:230px;
  height:173px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:173px;
}
#u13 {
  position:absolute;
  left:2px;
  top:78px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:89px;
  top:230px;
  width:105px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:168px;
  top:400px;
  width:24px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:89px;
  top:252px;
  width:105px;
  height:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:89px;
  top:274px;
  width:105px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:480px;
  top:150px;
  width:264px;
  height:470px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:470px;
}
#u23 {
  position:absolute;
  left:2px;
  top:227px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:480px;
  top:305px;
  width:264px;
  height:176px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:176px;
}
#u25 {
  position:absolute;
  left:2px;
  top:80px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:192px;
  top:419px;
  width:268px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u27 {
  position:absolute;
  left:91px;
  top:593px;
  width:27px;
  height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:159px;
  top:593px;
  width:27px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:225px;
  top:593px;
  width:27px;
  height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:293px;
  top:593px;
  width:27px;
  height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:360px;
  top:439px;
  width:79px;
  height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:470px;
  top:730px;
  width:264px;
  height:470px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:470px;
}
#u38 {
  position:absolute;
  left:2px;
  top:227px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:691px;
  top:756px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:833px;
  top:956px;
  width:233px;
  height:54px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:54px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:470px;
  top:885px;
  width:264px;
  height:176px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:176px;
}
#u44 {
  position:absolute;
  left:2px;
  top:80px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:470px;
  top:885px;
  width:264px;
  height:35px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:470px;
  top:1026px;
  width:264px;
  height:35px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:711px;
  top:920px;
  width:23px;
  height:107px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:107px;
}
#u50 {
  position:absolute;
  left:2px;
  top:46px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:470px;
  top:920px;
  width:23px;
  height:107px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:107px;
}
#u52 {
  position:absolute;
  left:2px;
  top:46px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:492px;
  top:917px;
  width:222px;
  height:111px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:111px;
}
#u54 {
  position:absolute;
  left:2px;
  top:48px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:590px;
  top:905px;
  width:28px;
  height:13px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:590px;
  top:1027px;
  width:28px;
  height:13px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:712px;
  top:963px;
  width:16px;
  height:19px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:476px;
  top:962px;
  width:16px;
  height:19px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:700px;
  top:896px;
  width:132px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:115px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:132px;
  height:1px;
}
#u64 {
  position:absolute;
  left:842px;
  top:892px;
  width:79px;
  height:18px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:724px;
  top:965px;
  width:99px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u67 {
  position:absolute;
  left:598px;
  top:586px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:668px;
  top:419px;
  width:42px;
  height:27px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:692px;
  top:428px;
  width:118px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:101px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:118px;
  height:1px;
}
#u72 {
  position:absolute;
  left:820px;
  top:423px;
  width:235px;
  height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:20px;
  top:673px;
  width:1480px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:1463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1480px;
  height:1px;
}
#u75 {
  position:absolute;
  left:74px;
  top:730px;
  width:264px;
  height:470px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:470px;
}
#u76 {
  position:absolute;
  left:2px;
  top:227px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:74px;
  top:885px;
  width:264px;
  height:176px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:176px;
}
#u78 {
  position:absolute;
  left:2px;
  top:80px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:192px;
  top:1166px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:532px;
  top:182px;
  width:275px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u82 {
  position:absolute;
  left:817px;
  top:180px;
  width:183px;
  height:18px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:635px;
  top:593px;
  width:172px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:155px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:172px;
  height:1px;
}
#u85 {
  position:absolute;
  left:817px;
  top:585px;
  width:66px;
  height:18px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:219px;
  top:1170px;
  width:241px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u88 {
  position:absolute;
  left:478px;
  top:751px;
  width:83px;
  height:23px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:23px;
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:492px;
  top:756px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1076px;
  top:730px;
  width:264px;
  height:470px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:470px;
}
#u93 {
  position:absolute;
  left:2px;
  top:227px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1076px;
  top:885px;
  width:264px;
  height:176px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:176px;
}
#u95 {
  position:absolute;
  left:2px;
  top:80px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1194px;
  top:1166px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:718px;
  top:760px;
  width:348px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:331px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:348px;
  height:1px;
}
#u99 {
  position:absolute;
  left:775px;
  top:780px;
  width:209px;
  height:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1491px;
  top:730px;
  width:268px;
  height:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u102 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1491px;
  top:748px;
  width:268px;
  height:452px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u104 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1509px;
  top:736px;
  width:52px;
  height:10px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1491px;
  top:1156px;
  width:268px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u108 {
  position:absolute;
  left:1719px;
  top:762px;
  width:20px;
  height:20px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1509px;
  top:888px;
  width:230px;
  height:152px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:152px;
}
#u111 {
  position:absolute;
  left:2px;
  top:68px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1509px;
  top:810px;
  width:105px;
  height:18px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1509px;
  top:832px;
  width:105px;
  height:22px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:1509px;
  top:854px;
  width:105px;
  height:22px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:1511px;
  top:1173px;
  width:27px;
  height:18px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1579px;
  top:1173px;
  width:27px;
  height:18px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:1645px;
  top:1173px;
  width:27px;
  height:18px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:1713px;
  top:1173px;
  width:27px;
  height:18px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1126px;
  top:760px;
  width:355px;
  height:10px;
}
#u126_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:338px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:5px;
  width:355px;
  height:1px;
}
#u127 {
  position:absolute;
  left:1350px;
  top:780px;
  width:131px;
  height:36px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
