﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:220px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:220px;
  width:360px;
  height:75px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:20px;
  width:97px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u7 {
  position:absolute;
  left:420px;
  top:244px;
  width:27px;
  height:27px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:122px;
  top:239px;
  width:21px;
  height:21px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:980px;
  top:220px;
  width:360px;
  height:210px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:210px;
}
#u12 {
  position:absolute;
  left:2px;
  top:97px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:174px;
  top:255px;
  width:226px;
  height:4px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:4px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:174px;
  top:255px;
  width:80px;
  height:4px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:4px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1011px;
  top:339px;
  width:20px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:244px;
  top:247px;
  width:20px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:116px;
  top:260px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:1061px;
  top:305px;
  width:226px;
  height:4px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:4px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1061px;
  top:305px;
  width:80px;
  height:4px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:4px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1131px;
  top:297px;
  width:20px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1009px;
  top:239px;
  width:21px;
  height:21px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1061px;
  top:255px;
  width:226px;
  height:4px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:4px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1061px;
  top:255px;
  width:80px;
  height:4px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:4px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1131px;
  top:247px;
  width:20px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1003px;
  top:260px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1011px;
  top:288px;
  width:20px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1009px;
  top:312px;
  width:23px;
  height:16px;
  font-size:11px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:998px;
  top:359px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1061px;
  top:358px;
  width:226px;
  height:4px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:4px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1061px;
  top:358px;
  width:80px;
  height:4px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:4px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1131px;
  top:350px;
  width:20px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1300px;
  top:390px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:980px;
  top:220px;
  width:360px;
  height:640px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u54 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:520px;
  top:268px;
  width:330px;
  height:282px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:282px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:440px;
  top:268px;
  width:50px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u58 {
  position:absolute;
  left:1390px;
  top:220px;
  width:360px;
  height:210px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:210px;
}
#u59 {
  position:absolute;
  left:2px;
  top:97px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1421px;
  top:339px;
  width:20px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1471px;
  top:305px;
  width:226px;
  height:4px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:4px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1466px;
  top:297px;
  width:20px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1419px;
  top:239px;
  width:21px;
  height:21px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1471px;
  top:255px;
  width:226px;
  height:4px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:4px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1467px;
  top:247px;
  width:20px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1413px;
  top:260px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:1421px;
  top:288px;
  width:20px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1419px;
  top:312px;
  width:23px;
  height:16px;
  font-size:11px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1408px;
  top:359px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1471px;
  top:358px;
  width:226px;
  height:4px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:4px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1466px;
  top:350px;
  width:20px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1710px;
  top:390px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u85 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1419px;
  top:239px;
  width:21px;
  height:21px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1420px;
  top:287px;
  width:21px;
  height:21px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1420px;
  top:338px;
  width:21px;
  height:21px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1390px;
  top:450px;
  width:330px;
  height:60px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
