﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:193px;
  top:510px;
  width:387px;
  height:14px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:193px;
  top:214px;
  width:357px;
  height:34px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:35px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:193px;
  top:251px;
  width:150px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:193px;
  top:294px;
  width:592px;
  height:164px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:74px;
  top:0px;
  width:118px;
  height:20px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:192px;
  top:0px;
  width:118px;
  height:20px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:21px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:310px;
  top:0px;
  width:277px;
  height:20px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:21px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:20px;
  width:74px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:74px;
  top:20px;
  width:118px;
  height:21px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:192px;
  top:20px;
  width:118px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:310px;
  top:20px;
  width:277px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:41px;
  width:74px;
  height:46px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:47px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:74px;
  top:41px;
  width:118px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:192px;
  top:41px;
  width:118px;
  height:46px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:310px;
  top:41px;
  width:277px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:87px;
  width:74px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:37px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:74px;
  top:87px;
  width:118px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:114px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:192px;
  top:87px;
  width:118px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:310px;
  top:87px;
  width:277px;
  height:36px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:37px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:123px;
  width:74px;
  height:53px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:54px;
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:74px;
  top:123px;
  width:118px;
  height:53px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:54px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:192px;
  top:123px;
  width:118px;
  height:53px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:54px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:310px;
  top:123px;
  width:277px;
  height:53px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:54px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:193px;
  top:194px;
  width:84px;
  height:22px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:175px;
  top:100px;
  width:4667px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:4658px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:4667px;
  height:1px;
}
#u50 {
  position:absolute;
  left:0px;
  top:6750px;
  width:4950px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:4941px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:4950px;
  height:1px;
}
#u51 {
  position:absolute;
  left:193px;
  top:2890px;
  width:4654px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:4645px;
  top:-5px;
  width:14px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:4654px;
  height:1px;
}
