﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:30px;
  width:647px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u3 {
  position:absolute;
  left:920px;
  top:364px;
  width:350px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:940px;
  top:374px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1008px;
  top:379px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1010px;
  top:404px;
  width:52px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:920px;
  top:459px;
  width:350px;
  height:70px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u12 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:940px;
  top:469px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1008px;
  top:474px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1010px;
  top:499px;
  width:66px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:599px;
  top:396px;
  width:301px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u20 {
  position:absolute;
  left:607px;
  top:423px;
  width:287px;
  height:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:36px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1280px;
  top:438px;
  width:61px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u23 {
  position:absolute;
  left:1351px;
  top:432px;
  width:150px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:920px;
  top:551px;
  width:350px;
  height:70px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u26 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:940px;
  top:561px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1008px;
  top:566px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1010px;
  top:591px;
  width:118px;
  height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1241px;
  top:581px;
  width:61px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u34 {
  position:absolute;
  left:1312px;
  top:568px;
  width:414px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:920px;
  top:651px;
  width:350px;
  height:70px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u37 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:940px;
  top:661px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1008px;
  top:666px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1010px;
  top:691px;
  width:222px;
  height:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1242px;
  top:683px;
  width:61px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u45 {
  position:absolute;
  left:1313px;
  top:670px;
  width:414px;
  height:60px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:330px;
  top:160px;
  width:268px;
  height:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u48 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:330px;
  top:178px;
  width:268px;
  height:452px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u50 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:348px;
  top:165px;
  width:52px;
  height:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:344px;
  top:261px;
  width:241px;
  height:139px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u54 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:554px;
  top:373px;
  width:18px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u56 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:360px;
  top:318px;
  width:6px;
  height:6px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:378px;
  top:313px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:558px;
  top:270px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:330px;
  top:178px;
  width:268px;
  height:60px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:344px;
  top:292px;
  width:241px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u66 {
  position:absolute;
  left:360px;
  top:272px;
  width:53px;
  height:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:330px;
  top:583px;
  width:268px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u69 {
  position:absolute;
  left:398px;
  top:598px;
  width:47px;
  height:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:492px;
  top:596px;
  width:10px;
  height:23px;
}
#u71_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u71_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u71_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u72 {
  position:absolute;
  left:526px;
  top:598px;
  width:48px;
  height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:434px;
  top:200px;
  width:56px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:394px;
  top:197px;
  width:22px;
  height:22px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u77 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:368px;
  top:197px;
  width:22px;
  height:22px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u79 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:374px;
  top:203px;
  width:10px;
  height:10px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:544px;
  top:202px;
  width:16px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:44px;
  top:160px;
  width:268px;
  height:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u85 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:44px;
  top:178px;
  width:268px;
  height:452px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u87 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:62px;
  top:165px;
  width:52px;
  height:10px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:58px;
  top:261px;
  width:241px;
  height:139px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u91 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:268px;
  top:373px;
  width:18px;
  height:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u93 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:74px;
  top:318px;
  width:6px;
  height:6px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:92px;
  top:313px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:272px;
  top:270px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:44px;
  top:178px;
  width:268px;
  height:60px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:58px;
  top:292px;
  width:241px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u103 {
  position:absolute;
  left:74px;
  top:272px;
  width:53px;
  height:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:44px;
  top:583px;
  width:268px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u106 {
  position:absolute;
  left:112px;
  top:598px;
  width:47px;
  height:18px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:206px;
  top:596px;
  width:10px;
  height:23px;
}
#u108_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u108_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u108_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u109 {
  position:absolute;
  left:240px;
  top:598px;
  width:48px;
  height:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:151px;
  top:198px;
  width:56px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:85px;
  top:196px;
  width:20px;
  height:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:260px;
  top:199px;
  width:16px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u116 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:110px;
  top:195px;
  width:22px;
  height:22px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u118 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:920px;
  top:751px;
  width:350px;
  height:70px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u120 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:940px;
  top:761px;
  width:50px;
  height:50px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u122 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1008px;
  top:766px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1010px;
  top:791px;
  width:118px;
  height:18px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:920px;
  top:851px;
  width:350px;
  height:70px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u128 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:940px;
  top:861px;
  width:50px;
  height:50px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u130 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1008px;
  top:866px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:1010px;
  top:891px;
  width:157px;
  height:18px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:1249px;
  top:783px;
  width:61px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u136 {
  position:absolute;
  left:1320px;
  top:770px;
  width:414px;
  height:60px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:1255px;
  top:883px;
  width:61px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u139 {
  position:absolute;
  left:1326px;
  top:870px;
  width:414px;
  height:60px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  white-space:nowrap;
}
