﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:542px;
  top:160px;
  width:268px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:542px;
  top:178px;
  width:268px;
  height:452px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u3 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:560px;
  top:164px;
  width:60px;
  height:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:574px;
  top:266px;
  width:210px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:214px;
}
#u7 {
  position:absolute;
  left:2px;
  top:89px;
  width:206px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:570px;
  top:576px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:710px;
  top:576px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:338px;
  top:532px;
  width:183px;
  height:54px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:710px;
  top:380px;
  width:140px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u15 {
  position:absolute;
  left:860px;
  top:380px;
  width:92px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:790px;
  top:586px;
  width:60px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u18 {
  position:absolute;
  left:860px;
  top:576px;
  width:324px;
  height:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:36px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:541px;
  top:740px;
  width:270px;
  height:170px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u21 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:541px;
  top:790px;
  width:270px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u23 {
  position:absolute;
  left:657px;
  top:756px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:557px;
  top:810px;
  width:177px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:541px;
  top:860px;
  width:270px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u28 {
  position:absolute;
  left:671px;
  top:868px;
  width:10px;
  height:42px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u29 {
  position:absolute;
  left:573px;
  top:876px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:709px;
  top:876px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:49px;
  top:40px;
  width:531px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:45px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:5px;
  top:95px;
  width:1585px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:1568px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1585px;
  height:1px;
}
#u36 {
  position:absolute;
  left:610px;
  top:600px;
  width:10px;
  height:120px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u37 {
  position:absolute;
  left:630px;
  top:660px;
  width:144px;
  height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:800px;
  top:880px;
  width:60px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u40 {
  position:absolute;
  left:870px;
  top:865px;
  width:324px;
  height:36px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:36px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:90px;
  top:1040px;
  width:268px;
  height:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u43 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:90px;
  top:1058px;
  width:268px;
  height:452px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u45 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:108px;
  top:1044px;
  width:60px;
  height:11px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:122px;
  top:1146px;
  width:210px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:214px;
}
#u49 {
  position:absolute;
  left:2px;
  top:89px;
  width:206px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:118px;
  top:1456px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:258px;
  top:1456px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:5px;
  top:970px;
  width:1585px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:1568px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1585px;
  height:1px;
}
#u55 {
  position:absolute;
  left:338px;
  top:1110px;
  width:85px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u56 {
  position:absolute;
  left:440px;
  top:1102px;
  width:129px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:430px;
  top:1146px;
  width:318px;
  height:22px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:430px;
  top:1190px;
  width:286px;
  height:22px;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:49px;
  top:160px;
  width:268px;
  height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u63 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:49px;
  top:178px;
  width:268px;
  height:452px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u65 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:68px;
  top:163px;
  width:60px;
  height:11px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:87px;
  top:265px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u69 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:49px;
  top:460px;
  width:268px;
  height:170px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:170px;
}
#u71 {
  position:absolute;
  left:2px;
  top:77px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:60px;
  top:528px;
  width:257px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:21px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:62px;
  top:476px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:155px;
  top:570px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:128px;
  top:588px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:227px;
  top:478px;
  width:78px;
  height:16px;
  font-size:11px;
  color:#00CC99;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:240px;
  top:598px;
  width:280px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
