﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1202px;
  top:337px;
  width:166px;
  height:112px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:113px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:112px;
}
#u2 {
  position:absolute;
  left:936px;
  top:263px;
  width:215px;
  height:382px;
}
#u2_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:218px;
  height:385px;
}
#u3 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:946px;
  top:335px;
  width:46px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u6 {
  position:absolute;
  left:996px;
  top:335px;
  width:46px;
  height:42px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u8 {
  position:absolute;
  left:1046px;
  top:335px;
  width:46px;
  height:42px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u9 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u10 {
  position:absolute;
  left:1096px;
  top:335px;
  width:46px;
  height:42px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u12 {
  position:absolute;
  left:946px;
  top:387px;
  width:46px;
  height:42px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u14 {
  position:absolute;
  left:996px;
  top:387px;
  width:46px;
  height:42px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u16 {
  position:absolute;
  left:1046px;
  top:387px;
  width:46px;
  height:42px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u17 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u18 {
  position:absolute;
  left:1096px;
  top:387px;
  width:46px;
  height:42px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u19 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u20 {
  position:absolute;
  left:946px;
  top:439px;
  width:46px;
  height:42px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u21 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u22 {
  position:absolute;
  left:996px;
  top:439px;
  width:46px;
  height:42px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u23 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u24 {
  position:absolute;
  left:1047px;
  top:439px;
  width:46px;
  height:42px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u25 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u26 {
  position:absolute;
  left:936px;
  top:263px;
  width:215px;
  height:19px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u28 {
  position:absolute;
  left:936px;
  top:281px;
  width:215px;
  height:29px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u30 {
  position:absolute;
  left:924px;
  top:237px;
  width:150px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u32 {
  position:absolute;
  left:586px;
  top:272px;
  width:215px;
  height:382px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u33 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u34 {
  position:absolute;
  left:586px;
  top:272px;
  width:215px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u36 {
  position:absolute;
  left:586px;
  top:288px;
  width:215px;
  height:28px;
  font-size:16px;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:29px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
}
#u38 {
  position:absolute;
  left:584px;
  top:286px;
  width:29px;
  height:33px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u40 {
  position:absolute;
  left:604px;
  top:329px;
  width:77px;
  height:77px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u41 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u42 {
  position:absolute;
  left:614px;
  top:412px;
  width:104px;
  height:12px;
  font-size:9px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:12px;
}
#u44 {
  position:absolute;
  left:648px;
  top:337px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u46 {
  position:absolute;
  left:612px;
  top:372px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u48 {
  position:absolute;
  left:648px;
  top:372px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u50 {
  position:absolute;
  left:706px;
  top:329px;
  width:77px;
  height:77px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u51 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u52 {
  position:absolute;
  left:714px;
  top:337px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u53 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u54 {
  position:absolute;
  left:750px;
  top:337px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u55 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u56 {
  position:absolute;
  left:714px;
  top:372px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u57 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u58 {
  position:absolute;
  left:750px;
  top:372px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u59 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u60 {
  position:absolute;
  left:714px;
  top:412px;
  width:69px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u62 {
  position:absolute;
  left:604px;
  top:448px;
  width:77px;
  height:77px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u63 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u64 {
  position:absolute;
  left:612px;
  top:533px;
  width:78px;
  height:12px;
  font-size:9px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:12px;
}
#u66 {
  position:absolute;
  left:706px;
  top:448px;
  width:77px;
  height:77px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u67 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u68 {
  position:absolute;
  left:714px;
  top:531px;
  width:72px;
  height:12px;
  font-size:9px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:12px;
}
#u70 {
  position:absolute;
  left:612px;
  top:454px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u72 {
  position:absolute;
  left:648px;
  top:454px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u73 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u74 {
  position:absolute;
  left:612px;
  top:489px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u75 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u76 {
  position:absolute;
  left:714px;
  top:454px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u77 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u78 {
  position:absolute;
  left:750px;
  top:454px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u79 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u80 {
  position:absolute;
  left:608px;
  top:555px;
  width:77px;
  height:77px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u81 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u82 {
  position:absolute;
  left:614px;
  top:562px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u84 {
  position:absolute;
  left:650px;
  top:562px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u85 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u86 {
  position:absolute;
  left:614px;
  top:598px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u87 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u88 {
  position:absolute;
  left:614px;
  top:636px;
  width:67px;
  height:12px;
  font-size:9px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:13px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:12px;
}
#u90 {
  position:absolute;
  left:815px;
  top:465px;
  width:99px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:14px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u91 {
  position:absolute;
  left:815px;
  top:439px;
  width:105px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u93 {
  position:absolute;
  left:652px;
  top:598px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u94 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u95 {
  position:absolute;
  left:611px;
  top:337px;
  width:27px;
  height:30px;
  font-size:8px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u96 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u97 {
  position:absolute;
  left:764px;
  top:306px;
  width:150px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u99 {
  position:absolute;
  left:936px;
  top:280px;
  width:29px;
  height:33px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u101 {
  position:absolute;
  left:956px;
  top:286px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u103 {
  position:absolute;
  left:592px;
  top:198px;
  width:228px;
  height:80px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:81px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:80px;
}
#u105 {
  position:absolute;
  left:406px;
  top:428px;
  width:99px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:14px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u106 {
  position:absolute;
  left:406px;
  top:402px;
  width:105px;
  height:32px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u108 {
  position:absolute;
  left:171px;
  top:273px;
  width:215px;
  height:392px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:393px;
}
#u109 {
  position:absolute;
  left:2px;
  top:188px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u110 {
  position:absolute;
  left:171px;
  top:273px;
  width:215px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u111 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u112 {
  position:absolute;
  left:171px;
  top:289px;
  width:215px;
  height:38px;
  text-align:left;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
}
#u113 {
  position:absolute;
  left:2px;
  top:11px;
  width:211px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u114 {
  position:absolute;
  left:167px;
  top:291px;
  width:38px;
  height:34px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u115 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u116 {
  position:absolute;
  left:339px;
  top:294px;
  width:35px;
  height:27px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u117 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u118 {
  position:absolute;
  left:180px;
  top:336px;
  width:58px;
  height:100px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u119 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u120 {
  position:absolute;
  left:248px;
  top:336px;
  width:58px;
  height:100px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u121 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u122 {
  position:absolute;
  left:316px;
  top:336px;
  width:58px;
  height:100px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u123 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u124 {
  position:absolute;
  left:180px;
  top:446px;
  width:58px;
  height:100px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u125 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u126 {
  position:absolute;
  left:248px;
  top:446px;
  width:58px;
  height:100px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u127 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u128 {
  position:absolute;
  left:316px;
  top:446px;
  width:58px;
  height:100px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u129 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u130 {
  position:absolute;
  left:180px;
  top:556px;
  width:58px;
  height:100px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u131 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u132 {
  position:absolute;
  left:248px;
  top:556px;
  width:58px;
  height:100px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u133 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u134 {
  position:absolute;
  left:316px;
  top:556px;
  width:58px;
  height:100px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u135 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u136 {
  position:absolute;
  left:295px;
  top:442px;
  width:21px;
  height:20px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u138 {
  position:absolute;
  left:298px;
  top:445px;
  width:15px;
  height:14px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
