﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1174px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:525px;
  top:114px;
  width:215px;
  height:381px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u1 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u2 {
  position:absolute;
  left:959px;
  top:112px;
  width:215px;
  height:381px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u3 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:349px;
  top:263px;
  width:150px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u6 {
  position:absolute;
  left:349px;
  top:289px;
  width:161px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:152px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:161px;
  height:1px;
}
#u7 {
  position:absolute;
  left:1067px;
  top:514px;
  width:10px;
  height:188px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:179px;
  width:20px;
  height:14px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:188px;
}
#u8 {
  position:absolute;
  left:207px;
  top:698px;
  width:864px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:855px;
  top:-5px;
  width:14px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:864px;
  height:1px;
}
#u9 {
  position:absolute;
  left:202px;
  top:549px;
  width:10px;
  height:152px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:143px;
  width:20px;
  height:14px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:152px;
}
#u10 {
  position:absolute;
  left:618px;
  top:655px;
  width:150px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u12 {
  position:absolute;
  left:106px;
  top:114px;
  width:215px;
  height:382px;
}
#u12_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:218px;
  height:385px;
}
#u13 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u14 {
  position:absolute;
  left:113px;
  top:165px;
  width:68px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u16 {
  position:absolute;
  left:115px;
  top:187px;
  width:46px;
  height:42px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u17 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u18 {
  position:absolute;
  left:166px;
  top:187px;
  width:46px;
  height:42px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u19 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u20 {
  position:absolute;
  left:215px;
  top:187px;
  width:46px;
  height:42px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u21 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u22 {
  position:absolute;
  left:266px;
  top:187px;
  width:46px;
  height:42px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u23 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u24 {
  position:absolute;
  left:115px;
  top:239px;
  width:46px;
  height:42px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u25 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u26 {
  position:absolute;
  left:166px;
  top:239px;
  width:46px;
  height:42px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u27 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u28 {
  position:absolute;
  left:215px;
  top:239px;
  width:46px;
  height:42px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u29 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u30 {
  position:absolute;
  left:266px;
  top:239px;
  width:46px;
  height:42px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u31 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u32 {
  position:absolute;
  left:115px;
  top:291px;
  width:46px;
  height:42px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u33 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u34 {
  position:absolute;
  left:115px;
  top:353px;
  width:68px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u36 {
  position:absolute;
  left:115px;
  top:374px;
  width:46px;
  height:42px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u37 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u38 {
  position:absolute;
  left:166px;
  top:374px;
  width:46px;
  height:42px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u39 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u40 {
  position:absolute;
  left:215px;
  top:374px;
  width:46px;
  height:42px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u41 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u42 {
  position:absolute;
  left:266px;
  top:374px;
  width:46px;
  height:42px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}
#u43 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u44 {
  position:absolute;
  left:107px;
  top:115px;
  width:213px;
  height:19px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:209px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u46 {
  position:absolute;
  left:107px;
  top:133px;
  width:213px;
  height:22px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:23px;
}
#u47 {
  position:absolute;
  left:2px;
  top:3px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u48 {
  position:absolute;
  left:113px;
  top:134px;
  width:99px;
  height:19px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u50 {
  position:absolute;
  left:762px;
  top:233px;
  width:161px;
  height:32px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:33px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u52 {
  position:absolute;
  left:762px;
  top:286px;
  width:118px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:109px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:118px;
  height:1px;
}
#u53 {
  position:absolute;
  left:1001px;
  top:182px;
  width:131px;
  height:80px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:81px;
}
#u54 {
  position:absolute;
  left:2px;
  top:32px;
  width:127px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u55 {
  position:absolute;
  left:959px;
  top:111px;
  width:214px;
  height:34px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u56 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u57 {
  position:absolute;
  left:959px;
  top:111px;
  width:38px;
  height:34px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u58 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u59 {
  position:absolute;
  left:1125px;
  top:115px;
  width:40px;
  height:26px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u61 {
  position:absolute;
  left:525px;
  top:114px;
  width:214px;
  height:22px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:23px;
}
#u62 {
  position:absolute;
  left:2px;
  top:3px;
  width:210px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u63 {
  position:absolute;
  left:525px;
  top:467px;
  width:214px;
  height:28px;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u65 {
  position:absolute;
  left:538px;
  top:473px;
  width:31px;
  height:20px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u65_input {
  font-family:'应用字体';
}
#u66 {
  position:absolute;
  left:578px;
  top:473px;
  width:31px;
  height:20px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u66_input {
  font-family:'应用字体';
}
#u67 {
  position:absolute;
  left:618px;
  top:473px;
  width:31px;
  height:20px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67_input {
  font-family:'应用字体';
}
#u68 {
  position:absolute;
  left:656px;
  top:473px;
  width:31px;
  height:20px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68_input {
  font-family:'应用字体';
}
#u69 {
  position:absolute;
  left:698px;
  top:473px;
  width:31px;
  height:20px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69_input {
  font-family:'应用字体';
}
#u70 {
  position:absolute;
  left:654px;
  top:352px;
  width:76px;
  height:114px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:115px;
}
#u71 {
  position:absolute;
  left:2px;
  top:49px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u72 {
  position:absolute;
  left:654px;
  top:396px;
  width:76px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
