﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:45px;
  top:45px;
  width:484px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:25px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:24px;
}
#u2 {
  position:absolute;
  left:604px;
  top:153px;
  width:215px;
  height:381px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u3 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:604px;
  top:153px;
  width:215px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u6 {
  position:absolute;
  left:874px;
  top:153px;
  width:233px;
  height:48px;
  color:#0000FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:49px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:48px;
}
#u8 {
  position:absolute;
  left:527px;
  top:289px;
  width:81px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:72px;
  top:-5px;
  width:14px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  height:1px;
}
#u9 {
  position:absolute;
  left:527px;
  top:467px;
  width:75px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:66px;
  top:-5px;
  width:14px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:75px;
  height:1px;
}
#u10 {
  position:absolute;
  left:522px;
  top:294px;
  width:10px;
  height:176px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:167px;
  width:20px;
  height:14px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:176px;
}
#u11 {
  position:absolute;
  left:453px;
  top:368px;
  width:69px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:60px;
  top:-5px;
  width:14px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:69px;
  height:1px;
}
#u12 {
  position:absolute;
  left:284px;
  top:208px;
  width:159px;
  height:304px;
  color:#0000FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:305px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:304px;
}
#u14 {
  position:absolute;
  left:704px;
  top:554px;
  width:175px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:166px;
  top:-5px;
  width:14px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:175px;
  height:1px;
}
#u15 {
  position:absolute;
  left:890px;
  top:548px;
  width:212px;
  height:32px;
  color:#0000FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:33px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:32px;
}
#u17 {
  position:absolute;
  left:604px;
  top:153px;
  width:215px;
  height:381px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u18 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u19 {
  position:absolute;
  left:604px;
  top:153px;
  width:215px;
  height:381px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u20 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u21 {
  position:absolute;
  left:668px;
  top:267px;
  width:91px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u23 {
  position:absolute;
  left:630px;
  top:216px;
  width:174px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:48px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:63px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:62px;
}
#u25 {
  position:absolute;
  left:604px;
  top:153px;
  width:215px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u27 {
  position:absolute;
  left:678px;
  top:511px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u29 {
  position:absolute;
  left:700px;
  top:527px;
  width:10px;
  height:32px;
}
#u29_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u29_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:14px;
}
#u29_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u30 {
  position:absolute;
  left:812px;
  top:153px;
  width:53px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:97px;
  width:2050px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:2041px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2050px;
  height:1px;
}
#u32 {
  position:absolute;
  left:613px;
  top:299px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u34 {
  position:absolute;
  left:653px;
  top:299px;
  width:76px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u36 {
  position:absolute;
  left:657px;
  top:317px;
  width:128px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:12px;
}
#u38 {
  position:absolute;
  left:781px;
  top:299px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u40 {
  position:absolute;
  left:781px;
  top:385px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u42 {
  position:absolute;
  left:613px;
  top:341px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u44 {
  position:absolute;
  left:653px;
  top:341px;
  width:150px;
  height:16px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u46 {
  position:absolute;
  left:657px;
  top:359px;
  width:111px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:12px;
}
#u48 {
  position:absolute;
  left:781px;
  top:341px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u50 {
  position:absolute;
  left:613px;
  top:385px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u52 {
  position:absolute;
  left:653px;
  top:385px;
  width:106px;
  height:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u54 {
  position:absolute;
  left:657px;
  top:401px;
  width:123px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:12px;
}
#u56 {
  position:absolute;
  left:614px;
  top:329px;
  width:200px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u57 {
  position:absolute;
  left:613px;
  top:371px;
  width:200px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u58 {
  position:absolute;
  left:613px;
  top:430px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u60 {
  position:absolute;
  left:653px;
  top:430px;
  width:150px;
  height:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u62 {
  position:absolute;
  left:657px;
  top:448px;
  width:111px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:12px;
}
#u64 {
  position:absolute;
  left:782px;
  top:430px;
  width:21px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
}
#u66 {
  position:absolute;
  left:614px;
  top:418px;
  width:200px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u67 {
  position:absolute;
  left:612px;
  top:462px;
  width:200px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u68 {
  position:absolute;
  left:240px;
  top:153px;
  width:354px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:345px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:354px;
  height:1px;
}
#u69 {
  position:absolute;
  left:240px;
  top:524px;
  width:354px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:345px;
  top:-5px;
  width:14px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:354px;
  height:1px;
}
#u70 {
  position:absolute;
  left:235px;
  top:157px;
  width:10px;
  height:372px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:363px;
  width:20px;
  height:14px;
}
#u70_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:372px;
}
#u71 {
  position:absolute;
  left:148px;
  top:320px;
  width:92px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:14px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:92px;
  height:1px;
}
#u72 {
  position:absolute;
  left:76px;
  top:309px;
  width:74px;
  height:48px;
  color:#0000FF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:49px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:48px;
}
