﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:132px;
  top:190px;
  width:308px;
  height:541px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:190px;
  width:308px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:132px;
  top:210px;
  width:308px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:142px;
  top:222px;
  width:22px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:168px;
  top:220px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#515151;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:132px;
  top:416px;
  width:308px;
  height:63px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:63px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:152px;
  top:424px;
  width:145px;
  height:25px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:370px;
  top:430px;
  width:59px;
  height:31px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:148px;
  top:620px;
  width:277px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:222px;
  top:630px;
  width:15px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:148px;
  top:674px;
  width:277px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:222px;
  top:684px;
  width:15px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:140px;
  top:484px;
  width:295px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:152px;
  top:448px;
  width:113px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:323px;
  top:284px;
  width:71px;
  height:79px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u29 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:338px;
  top:358px;
  width:48px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:194px;
  top:298px;
  width:58px;
  height:56px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:56px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:210px;
  top:358px;
  width:36px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:281px;
  top:302px;
  width:10px;
  height:64px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:47px;
  width:20px;
  height:18px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:64px;
}
#u37 {
  position:absolute;
  left:300px;
  top:630px;
  width:140px;
  height:140px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u38 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:343px;
  top:768px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:450px;
  top:442px;
  width:171px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:154px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:171px;
  height:1px;
}
#u42 {
  position:absolute;
  left:499px;
  top:392px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:642px;
  top:190px;
  width:308px;
  height:541px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u45 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:642px;
  top:190px;
  width:308px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:642px;
  top:210px;
  width:308px;
  height:47px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u49 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:652px;
  top:222px;
  width:22px;
  height:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u51 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:678px;
  top:220px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#515151;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:642px;
  top:416px;
  width:308px;
  height:63px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:63px;
}
#u55 {
  position:absolute;
  left:2px;
  top:24px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:662px;
  top:424px;
  width:145px;
  height:25px;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:880px;
  top:430px;
  width:59px;
  height:31px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u59 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:658px;
  top:620px;
  width:277px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u61 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:732px;
  top:630px;
  width:15px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:658px;
  top:674px;
  width:277px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u65 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:732px;
  top:684px;
  width:15px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:650px;
  top:484px;
  width:295px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:662px;
  top:448px;
  width:113px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:833px;
  top:284px;
  width:71px;
  height:79px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u73 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:848px;
  top:358px;
  width:48px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:704px;
  top:298px;
  width:58px;
  height:56px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:56px;
}
#u77 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:720px;
  top:358px;
  width:36px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:791px;
  top:302px;
  width:10px;
  height:64px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:47px;
  width:20px;
  height:18px;
}
#u80_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:64px;
}
#u81 {
  position:absolute;
  left:642px;
  top:190px;
  width:308px;
  height:541px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u82 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:665px;
  top:358px;
  width:270px;
  height:160px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u84 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:665px;
  top:406px;
  width:270px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u86 {
  position:absolute;
  left:729px;
  top:370px;
  width:205px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:28px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:771px;
  top:442px;
  width:150px;
  height:10px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:10px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-3px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:691px;
  top:442px;
  width:86px;
  height:10px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:10px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-3px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:719px;
  top:472px;
  width:157px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1150px;
  top:190px;
  width:308px;
  height:541px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u95 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1150px;
  top:190px;
  width:308px;
  height:20px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1150px;
  top:210px;
  width:308px;
  height:47px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u99 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1160px;
  top:222px;
  width:22px;
  height:22px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u101 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1186px;
  top:220px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#515151;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:1150px;
  top:416px;
  width:308px;
  height:63px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:63px;
}
#u105 {
  position:absolute;
  left:2px;
  top:24px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1170px;
  top:424px;
  width:145px;
  height:25px;
  font-size:18px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1388px;
  top:430px;
  width:59px;
  height:31px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u109 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1166px;
  top:620px;
  width:277px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u111 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1240px;
  top:630px;
  width:15px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1166px;
  top:674px;
  width:277px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u115 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1240px;
  top:684px;
  width:15px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:1158px;
  top:484px;
  width:295px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:18px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1170px;
  top:448px;
  width:113px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:1341px;
  top:284px;
  width:71px;
  height:79px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u123 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1356px;
  top:358px;
  width:48px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1212px;
  top:298px;
  width:58px;
  height:56px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:56px;
}
#u127 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1228px;
  top:358px;
  width:36px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1299px;
  top:302px;
  width:10px;
  height:64px;
}
#u130_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u130_end {
  position:absolute;
  left:-5px;
  top:47px;
  width:20px;
  height:18px;
}
#u130_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:64px;
}
#u131 {
  position:absolute;
  left:1150px;
  top:190px;
  width:308px;
  height:541px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u132 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:969px;
  top:442px;
  width:171px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:154px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:171px;
  height:1px;
}
#u134 {
  position:absolute;
  left:1018px;
  top:392px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:1170px;
  top:360px;
  width:270px;
  height:170px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u137 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1170px;
  top:410px;
  width:270px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u139 {
  position:absolute;
  left:1249px;
  top:372px;
  width:121px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:1196px;
  top:422px;
  width:231px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:48px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1170px;
  top:480px;
  width:270px;
  height:10px;
}
#u143_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u144 {
  position:absolute;
  left:1290px;
  top:498px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:652px;
  top:132px;
  width:312px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:18px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
