﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:82px;
  top:50px;
  width:193px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:22px;
  top:100px;
  width:998px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:998px;
  height:1px;
}
#u3 {
  position:absolute;
  left:100px;
  top:156px;
  width:360px;
  height:178px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:178px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
