﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:30px;
  width:365px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u3 {
  position:absolute;
  left:390px;
  top:130px;
  width:268px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u4 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:390px;
  top:148px;
  width:268px;
  height:452px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u6 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:408px;
  top:135px;
  width:52px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:408px;
  top:158px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#515151;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:390px;
  top:184px;
  width:268px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u12 {
  position:absolute;
  left:611px;
  top:158px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#515151;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:390px;
  top:248px;
  width:268px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u15 {
  position:absolute;
  left:391px;
  top:317px;
  width:268px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u16 {
  position:absolute;
  left:391px;
  top:389px;
  width:268px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u17 {
  position:absolute;
  left:50px;
  top:311px;
  width:200px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:230px;
  top:356px;
  width:151px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:134px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:151px;
  height:1px;
}
#u20 {
  position:absolute;
  left:644px;
  top:164px;
  width:66px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:66px;
  height:1px;
}
#u21 {
  position:absolute;
  left:360px;
  top:164px;
  width:48px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:48px;
  height:1px;
}
#u22 {
  position:absolute;
  left:284px;
  top:159px;
  width:66px;
  height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:720px;
  top:148px;
  width:285px;
  height:36px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:391px;
  top:660px;
  width:268px;
  height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u27 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:391px;
  top:678px;
  width:268px;
  height:452px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u29 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:409px;
  top:665px;
  width:52px;
  height:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:409px;
  top:688px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#515151;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:391px;
  top:714px;
  width:268px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u35 {
  position:absolute;
  left:612px;
  top:688px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#515151;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:484px;
  top:790px;
  width:81px;
  height:28px;
  font-size:20px;
  color:#D7D7D7;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:645px;
  top:694px;
  width:60px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u40 {
  position:absolute;
  left:715px;
  top:690px;
  width:196px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:565px;
  top:803px;
  width:141px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:124px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:141px;
  height:1px;
}
#u43 {
  position:absolute;
  left:716px;
  top:800px;
  width:164px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:421px;
  top:204px;
  width:37px;
  height:20px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:422px;
  top:228px;
  width:58px;
  height:14px;
  font-size:12px;
  color:#C9C9C9;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:516px;
  top:228px;
  width:42px;
  height:14px;
  font-size:12px;
  color:#C9C9C9;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:14px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:422px;
  top:269px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:423px;
  top:293px;
  width:58px;
  height:14px;
  font-size:12px;
  color:#C9C9C9;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:517px;
  top:293px;
  width:42px;
  height:14px;
  font-size:12px;
  color:#C9C9C9;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:14px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:422px;
  top:337px;
  width:223px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:423px;
  top:361px;
  width:58px;
  height:14px;
  font-size:12px;
  color:#C9C9C9;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:517px;
  top:361px;
  width:42px;
  height:14px;
  font-size:12px;
  color:#C9C9C9;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:14px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:400px;
  top:213px;
  width:21px;
  height:16px;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:401px;
  top:277px;
  width:21px;
  height:16px;
}
#u66 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  position:absolute;
  left:401px;
  top:347px;
  width:21px;
  height:16px;
}
#u68 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
