﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:145px;
  top:380px;
  width:215px;
  height:382px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:382px;
}
#u1 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:145px;
  top:380px;
  width:215px;
  height:16px;
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1px;
  width:211px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:224px;
  top:686px;
  width:11px;
  height:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:686px;
  width:11px;
  height:11px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:271px;
  top:686px;
  width:11px;
  height:11px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:255px;
  top:686px;
  width:11px;
  height:11px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:182px;
  top:572px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:186px;
  top:607px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:235px;
  top:572px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:239px;
  top:607px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:289px;
  top:572px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:293px;
  top:607px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:182px;
  top:625px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:186px;
  top:660px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:235px;
  top:625px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u29 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:239px;
  top:660px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:289px;
  top:625px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u33 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:293px;
  top:660px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:182px;
  top:710px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u37 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:186px;
  top:745px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:235px;
  top:710px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u41 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:239px;
  top:745px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:289px;
  top:710px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:293px;
  top:745px;
  width:27px;
  height:11px;
  font-size:10px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:11px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:435px;
  top:440px;
  width:225px;
  height:110px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:110px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:155px;
  top:411px;
  width:194px;
  height:151px;
  font-size:11px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:151px;
}
#u51 {
  position:absolute;
  left:2px;
  top:68px;
  width:190px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:337px;
  top:440px;
  width:88px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u53 {
  position:absolute;
  left:450px;
  top:655px;
  width:34px;
  height:34px;
  font-size:11px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:456px;
  top:690px;
  width:21px;
  height:14px;
  font-size:10px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:612px;
  top:660px;
  width:258px;
  height:260px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:260px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:514px;
  top:671px;
  width:88px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
