﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:45px;
  top:45px;
  width:484px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:25px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:24px;
}
#u2 {
  position:absolute;
  left:131px;
  top:320px;
  width:215px;
  height:381px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u3 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:131px;
  top:320px;
  width:215px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u6 {
  position:absolute;
  left:131px;
  top:320px;
  width:215px;
  height:381px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u7 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u8 {
  position:absolute;
  left:131px;
  top:320px;
  width:215px;
  height:381px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u9 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u10 {
  position:absolute;
  left:195px;
  top:434px;
  width:91px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u12 {
  position:absolute;
  left:157px;
  top:383px;
  width:174px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:48px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:63px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:62px;
}
#u14 {
  position:absolute;
  left:131px;
  top:320px;
  width:215px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:97px;
  width:2050px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:2041px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2050px;
  height:1px;
}
#u17 {
  position:absolute;
  left:140px;
  top:466px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u19 {
  position:absolute;
  left:180px;
  top:466px;
  width:76px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u21 {
  position:absolute;
  left:184px;
  top:484px;
  width:128px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:12px;
}
#u23 {
  position:absolute;
  left:308px;
  top:466px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u25 {
  position:absolute;
  left:308px;
  top:552px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u27 {
  position:absolute;
  left:140px;
  top:508px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u29 {
  position:absolute;
  left:180px;
  top:508px;
  width:150px;
  height:16px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u31 {
  position:absolute;
  left:184px;
  top:526px;
  width:111px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:13px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:12px;
}
#u33 {
  position:absolute;
  left:308px;
  top:508px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u35 {
  position:absolute;
  left:140px;
  top:552px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u37 {
  position:absolute;
  left:180px;
  top:552px;
  width:106px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u39 {
  position:absolute;
  left:184px;
  top:568px;
  width:123px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:13px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:12px;
}
#u41 {
  position:absolute;
  left:141px;
  top:496px;
  width:200px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u42 {
  position:absolute;
  left:140px;
  top:538px;
  width:200px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u43 {
  position:absolute;
  left:140px;
  top:597px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u45 {
  position:absolute;
  left:180px;
  top:597px;
  width:150px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u47 {
  position:absolute;
  left:184px;
  top:615px;
  width:111px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:13px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:12px;
}
#u49 {
  position:absolute;
  left:309px;
  top:597px;
  width:21px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
}
#u51 {
  position:absolute;
  left:141px;
  top:585px;
  width:200px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u52 {
  position:absolute;
  left:139px;
  top:629px;
  width:200px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u53 {
  position:absolute;
  left:369px;
  top:506px;
  width:120px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:111px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u54 {
  position:absolute;
  left:369px;
  top:531px;
  width:156px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u56 {
  position:absolute;
  left:550px;
  top:236px;
  width:200px;
  height:48px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:49px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u58 {
  position:absolute;
  left:120px;
  top:294px;
  width:150px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u60 {
  position:absolute;
  left:510px;
  top:294px;
  width:150px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u62 {
  position:absolute;
  left:201px;
  top:670px;
  width:81px;
  height:16px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u64 {
  position:absolute;
  left:762px;
  top:511px;
  width:120px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:111px;
  top:-5px;
  width:14px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u65 {
  position:absolute;
  left:892px;
  top:313px;
  width:215px;
  height:381px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u66 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u67 {
  position:absolute;
  left:773px;
  top:542px;
  width:98px;
  height:48px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u69 {
  position:absolute;
  left:903px;
  top:294px;
  width:150px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u71 {
  position:absolute;
  left:892px;
  top:222px;
  width:200px;
  height:48px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:49px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u73 {
  position:absolute;
  left:525px;
  top:320px;
  width:215px;
  height:381px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u74 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u75 {
  position:absolute;
  left:525px;
  top:320px;
  width:215px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u77 {
  position:absolute;
  left:525px;
  top:320px;
  width:215px;
  height:381px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u78 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u79 {
  position:absolute;
  left:525px;
  top:320px;
  width:215px;
  height:381px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u80 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u81 {
  position:absolute;
  left:589px;
  top:434px;
  width:91px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u83 {
  position:absolute;
  left:551px;
  top:383px;
  width:174px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:48px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:63px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:62px;
}
#u85 {
  position:absolute;
  left:525px;
  top:320px;
  width:215px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u86 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u87 {
  position:absolute;
  left:534px;
  top:466px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u89 {
  position:absolute;
  left:574px;
  top:466px;
  width:76px;
  height:16px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u91 {
  position:absolute;
  left:578px;
  top:484px;
  width:128px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:13px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:12px;
}
#u93 {
  position:absolute;
  left:702px;
  top:466px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u95 {
  position:absolute;
  left:702px;
  top:552px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u97 {
  position:absolute;
  left:534px;
  top:508px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u99 {
  position:absolute;
  left:574px;
  top:508px;
  width:150px;
  height:16px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u101 {
  position:absolute;
  left:578px;
  top:526px;
  width:111px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:13px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:12px;
}
#u103 {
  position:absolute;
  left:702px;
  top:508px;
  width:33px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
}
#u105 {
  position:absolute;
  left:534px;
  top:552px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u107 {
  position:absolute;
  left:574px;
  top:552px;
  width:106px;
  height:16px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u109 {
  position:absolute;
  left:578px;
  top:568px;
  width:123px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:13px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:12px;
}
#u111 {
  position:absolute;
  left:535px;
  top:496px;
  width:200px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u112 {
  position:absolute;
  left:534px;
  top:538px;
  width:200px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u113 {
  position:absolute;
  left:534px;
  top:597px;
  width:31px;
  height:29px;
  font-size:10px;
  color:#000000;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u115 {
  position:absolute;
  left:574px;
  top:597px;
  width:150px;
  height:16px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u117 {
  position:absolute;
  left:578px;
  top:615px;
  width:111px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:13px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:12px;
}
#u119 {
  position:absolute;
  left:703px;
  top:597px;
  width:21px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
}
#u121 {
  position:absolute;
  left:535px;
  top:585px;
  width:200px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u122 {
  position:absolute;
  left:533px;
  top:629px;
  width:200px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u123 {
  position:absolute;
  left:580px;
  top:670px;
  width:111px;
  height:16px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u125 {
  position:absolute;
  left:612px;
  top:476px;
  width:46px;
  height:66px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:66px;
}
#u126 {
  position:absolute;
  left:2px;
  top:25px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
