﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:120px;
  width:273px;
  height:19px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:139px;
  width:273px;
  height:461px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:461px;
}
#u3 {
  position:absolute;
  left:2px;
  top:222px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:124px;
  width:53px;
  height:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:350px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:157px;
  top:397px;
  width:27px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:190px;
  top:365px;
  width:360px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u11 {
  position:absolute;
  left:567px;
  top:120px;
  width:273px;
  height:19px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:567px;
  top:139px;
  width:273px;
  height:461px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:461px;
}
#u14 {
  position:absolute;
  left:2px;
  top:222px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:587px;
  top:124px;
  width:53px;
  height:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:10px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:604px;
  top:290px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:385px;
  width:144px;
  height:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:814px;
  top:340px;
  width:180px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u22 {
  position:absolute;
  left:395px;
  top:470px;
  width:205px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:188px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:205px;
  height:1px;
}
#u23 {
  position:absolute;
  left:395px;
  top:490px;
  width:170px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:1004px;
  top:120px;
  width:273px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1004px;
  top:139px;
  width:273px;
  height:461px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:461px;
}
#u28 {
  position:absolute;
  left:2px;
  top:222px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1024px;
  top:124px;
  width:53px;
  height:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:10px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1041px;
  top:290px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:850px;
  top:360px;
  width:144px;
  height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:699px;
  top:560px;
  width:10px;
  height:100px;
}
#u35_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u35_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u35_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u36 {
  position:absolute;
  left:55px;
  top:20px;
  width:300px;
  height:45px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:24px;
  top:67px;
  width:1196px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:1179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1196px;
  height:1px;
}
#u39 {
  position:absolute;
  left:580px;
  top:675px;
  width:467px;
  height:36px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:36px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  white-space:nowrap;
}
