﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1273px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:60px;
  width:567px;
  height:40px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:41px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:117px;
  width:1163px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1154px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1163px;
  height:1px;
}
#u3 {
  position:absolute;
  left:361px;
  top:263px;
  width:60px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u4 {
  position:absolute;
  left:439px;
  top:234px;
  width:247px;
  height:87px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:88px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:449px;
  top:321px;
  width:28px;
  height:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:439px;
  top:349px;
  width:56px;
  height:14px;
  font-size:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:522px;
  top:321px;
  width:28px;
  height:26px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:531px;
  top:349px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:940px;
  top:248px;
  width:215px;
  height:382px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u15 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:940px;
  top:500px;
  width:215px;
  height:68px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u17 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:940px;
  top:432px;
  width:215px;
  height:68px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u19 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:940px;
  top:364px;
  width:215px;
  height:68px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u21 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:940px;
  top:296px;
  width:215px;
  height:68px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u23 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:950px;
  top:254px;
  width:37px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:940px;
  top:292px;
  width:215px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:206px;
  top:-5px;
  width:14px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  height:1px;
}
#u27 {
  position:absolute;
  left:991px;
  top:254px;
  width:58px;
  height:14px;
  font-size:10px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1026px;
  top:252px;
  width:93px;
  height:16px;
  font-size:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:953px;
  top:274px;
  width:23px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:989px;
  top:274px;
  width:23px;
  height:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1026px;
  top:274px;
  width:23px;
  height:19px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1064px;
  top:274px;
  width:23px;
  height:19px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1100px;
  top:274px;
  width:23px;
  height:19px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:952px;
  top:306px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:952px;
  top:326px;
  width:76px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:953px;
  top:344px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:951px;
  top:530px;
  width:150px;
  height:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:951px;
  top:548px;
  width:111px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:953px;
  top:392px;
  width:150px;
  height:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:954px;
  top:410px;
  width:111px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:953px;
  top:460px;
  width:106px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:953px;
  top:478px;
  width:123px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:975px;
  top:310px;
  width:128px;
  height:10px;
  font-size:9px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:11px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:951px;
  top:372px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:975px;
  top:374px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:951px;
  top:442px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:975px;
  top:444px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:951px;
  top:508px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:975px;
  top:510px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1115px;
  top:604px;
  width:40px;
  height:13px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#0000FF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:945px;
  top:606px;
  width:60px;
  height:13px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#0000FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1121px;
  top:662px;
  width:29px;
  height:23px;
  font-size:9px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:155px;
  top:254px;
  width:215px;
  height:392px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:393px;
}
#u80 {
  position:absolute;
  left:2px;
  top:188px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:155px;
  top:517px;
  width:215px;
  height:68px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u82 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:155px;
  top:449px;
  width:215px;
  height:68px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u84 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:155px;
  top:381px;
  width:215px;
  height:68px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u86 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:155px;
  top:313px;
  width:215px;
  height:68px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u88 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:166px;
  top:265px;
  width:37px;
  height:15px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:155px;
  top:308px;
  width:215px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:206px;
  top:-5px;
  width:14px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  height:1px;
}
#u92 {
  position:absolute;
  left:207px;
  top:266px;
  width:58px;
  height:14px;
  font-size:10px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:247px;
  top:612px;
  width:29px;
  height:23px;
  font-size:9px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:241px;
  top:268px;
  width:93px;
  height:16px;
  font-size:10px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:168px;
  top:290px;
  width:23px;
  height:19px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:204px;
  top:290px;
  width:23px;
  height:19px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:241px;
  top:290px;
  width:23px;
  height:19px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u103 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:279px;
  top:290px;
  width:23px;
  height:19px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u105 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:315px;
  top:290px;
  width:23px;
  height:19px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:167px;
  top:322px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u109 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:167px;
  top:342px;
  width:76px;
  height:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:168px;
  top:360px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:166px;
  top:546px;
  width:150px;
  height:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:166px;
  top:564px;
  width:111px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:168px;
  top:409px;
  width:150px;
  height:18px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:169px;
  top:427px;
  width:111px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:168px;
  top:476px;
  width:106px;
  height:18px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:168px;
  top:494px;
  width:123px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:14px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:190px;
  top:326px;
  width:128px;
  height:10px;
  font-size:9px;
  color:#666666;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:11px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:166px;
  top:389px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:190px;
  top:391px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:166px;
  top:459px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u133 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:190px;
  top:461px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:166px;
  top:524px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u137 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:190px;
  top:526px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:327px;
  top:259px;
  width:20px;
  height:18px;
  font-size:7px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u141 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:350px;
  top:266px;
  width:16px;
  height:11px;
  font-size:10px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:12px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:945px;
  top:662px;
  width:29px;
  height:23px;
  font-size:9px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u145 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:977px;
  top:676px;
  width:16px;
  height:11px;
  font-size:10px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:12px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
