﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:150px;
  width:268px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:168px;
  width:268px;
  height:452px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u3 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:156px;
  width:52px;
  height:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:576px;
  width:268px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u7 {
  position:absolute;
  left:288px;
  top:182px;
  width:20px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:78px;
  top:308px;
  width:230px;
  height:173px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:173px;
}
#u10 {
  position:absolute;
  left:2px;
  top:78px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:178px;
  top:468px;
  width:24px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:538px;
  top:150px;
  width:268px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u14 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:538px;
  top:168px;
  width:268px;
  height:452px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u16 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:558px;
  top:156px;
  width:52px;
  height:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:538px;
  top:576px;
  width:268px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u20 {
  position:absolute;
  left:766px;
  top:182px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:558px;
  top:230px;
  width:105px;
  height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:558px;
  top:252px;
  width:105px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:558px;
  top:276px;
  width:105px;
  height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:558px;
  top:368px;
  width:230px;
  height:39px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:39px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:558px;
  top:368px;
  width:230px;
  height:39px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:39px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:756px;
  top:374px;
  width:45px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:782px;
  top:392px;
  width:25px;
  height:29px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:82px;
  top:230px;
  width:105px;
  height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:82px;
  top:250px;
  width:105px;
  height:22px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:82px;
  top:272px;
  width:105px;
  height:22px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:318px;
  top:390px;
  width:198px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:198px;
  height:1px;
}
#u43 {
  position:absolute;
  left:342px;
  top:410px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:978px;
  top:150px;
  width:268px;
  height:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u46 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:978px;
  top:168px;
  width:268px;
  height:452px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u48 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:998px;
  top:156px;
  width:52px;
  height:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:978px;
  top:576px;
  width:268px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u52 {
  position:absolute;
  left:1206px;
  top:182px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:998px;
  top:230px;
  width:105px;
  height:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1000px;
  top:318px;
  width:105px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1000px;
  top:342px;
  width:105px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:998px;
  top:258px;
  width:230px;
  height:39px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:39px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:998px;
  top:258px;
  width:230px;
  height:39px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:39px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1196px;
  top:264px;
  width:45px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1222px;
  top:282px;
  width:25px;
  height:29px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u67 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:788px;
  top:306px;
  width:10px;
  height:86px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:69px;
  width:20px;
  height:18px;
}
#u68_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:86px;
}
#u69 {
  position:absolute;
  left:816px;
  top:308px;
  width:152px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:135px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:152px;
  height:1px;
}
#u70 {
  position:absolute;
  left:816px;
  top:328px;
  width:157px;
  height:54px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:54px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1380px;
  top:150px;
  width:268px;
  height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u73 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1380px;
  top:168px;
  width:268px;
  height:452px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u75 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1400px;
  top:156px;
  width:52px;
  height:10px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1380px;
  top:576px;
  width:268px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u79 {
  position:absolute;
  left:1608px;
  top:182px;
  width:20px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1398px;
  top:258px;
  width:230px;
  height:173px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:173px;
}
#u82 {
  position:absolute;
  left:2px;
  top:78px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1402px;
  top:230px;
  width:105px;
  height:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:1402px;
  top:442px;
  width:105px;
  height:22px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1402px;
  top:464px;
  width:105px;
  height:22px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1242px;
  top:274px;
  width:129px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:112px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:129px;
  height:1px;
}
#u90 {
  position:absolute;
  left:1256px;
  top:294px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:43px;
  top:33px;
  width:488px;
  height:45px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:45px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:20px;
  top:84px;
  width:1480px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:1463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1480px;
  height:1px;
}
#u95 {
  position:absolute;
  left:80px;
  top:592px;
  width:27px;
  height:18px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:148px;
  top:592px;
  width:27px;
  height:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:214px;
  top:592px;
  width:27px;
  height:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:282px;
  top:592px;
  width:27px;
  height:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:558px;
  top:592px;
  width:27px;
  height:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:626px;
  top:592px;
  width:27px;
  height:18px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:692px;
  top:592px;
  width:27px;
  height:18px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:760px;
  top:592px;
  width:27px;
  height:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:998px;
  top:592px;
  width:27px;
  height:18px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:1066px;
  top:592px;
  width:27px;
  height:18px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:1132px;
  top:592px;
  width:27px;
  height:18px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:1200px;
  top:592px;
  width:27px;
  height:18px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:1400px;
  top:592px;
  width:27px;
  height:18px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:1468px;
  top:592px;
  width:27px;
  height:18px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1534px;
  top:592px;
  width:27px;
  height:18px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1602px;
  top:592px;
  width:27px;
  height:18px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
