﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:406px;
  top:450px;
  width:170px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
}
#u1 {
  position:absolute;
  left:2px;
  top:46px;
  width:166px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:419px;
  top:330px;
  width:145px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:31px;
  width:141px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:492px;
  top:410px;
  height:40px;
}
#u4_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u4_seg1 {
  position:absolute;
  left:-11px;
  top:20px;
  width:21px;
  height:20px;
}
#u4_seg2 {
  position:absolute;
  left:-11px;
  top:20px;
  width:20px;
  height:24px;
}
#u5 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:406px;
  top:600px;
  width:170px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
}
#u7 {
  position:absolute;
  left:2px;
  top:46px;
  width:166px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:491px;
  top:560px;
  width:0px;
  height:40px;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u9 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:418px;
  top:750px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:142px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:491px;
  top:710px;
  width:0px;
  height:40px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:406px;
  top:900px;
  width:170px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
}
#u15 {
  position:absolute;
  left:2px;
  top:46px;
  width:166px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:491px;
  top:860px;
  width:0px;
  height:40px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:491px;
  top:1010px;
  width:0px;
  height:42px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:56px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:641px;
  top:900px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u21 {
  position:absolute;
  left:2px;
  top:46px;
  width:142px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:576px;
  top:955px;
  width:65px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:79px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:637px;
  top:600px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u25 {
  position:absolute;
  left:2px;
  top:46px;
  width:142px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:576px;
  top:655px;
  width:61px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:75px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1210px;
  top:450px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u29 {
  position:absolute;
  left:2px;
  top:46px;
  width:142px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:576px;
  top:505px;
  width:634px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:648px;
  height:20px;
}
#u31 {
  position:absolute;
  left:267px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1197px;
  top:600px;
  width:172px;
  height:103px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:103px;
}
#u33 {
  position:absolute;
  left:2px;
  top:34px;
  width:168px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1283px;
  top:560px;
  width:0px;
  height:40px;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1210px;
  top:740px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u37 {
  position:absolute;
  left:2px;
  top:37px;
  width:142px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1283px;
  top:703px;
  width:0px;
  height:37px;
}
#u38_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:51px;
}
#u39 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1210px;
  top:1559px;
  width:458px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:50px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1530px;
  top:597px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u43 {
  position:absolute;
  left:2px;
  top:46px;
  width:142px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1369px;
  top:652px;
  width:161px;
  height:0px;
}
#u44_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:175px;
  height:20px;
}
#u45 {
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1197px;
  top:1247px;
  width:172px;
  height:103px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:103px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:168px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1283px;
  top:850px;
  width:0px;
  height:397px;
}
#u48_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:411px;
}
#u49 {
  position:absolute;
  left:-50px;
  top:190px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1210px;
  top:1410px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u51 {
  position:absolute;
  left:2px;
  top:46px;
  width:142px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1283px;
  top:1350px;
  width:0px;
  height:60px;
}
#u52_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u53 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1603px;
  top:707px;
  width:-320px;
  height:540px;
}
#u54_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:544px;
}
#u54_seg1 {
  position:absolute;
  left:-330px;
  top:520px;
  width:340px;
  height:20px;
}
#u54_seg2 {
  position:absolute;
  left:-330px;
  top:520px;
  width:20px;
  height:24px;
}
#u55 {
  position:absolute;
  left:-50px;
  top:422px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1454px;
  top:1410px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u57 {
  position:absolute;
  left:2px;
  top:28px;
  width:142px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1369px;
  top:1298px;
  width:158px;
  height:112px;
}
#u58_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:172px;
  height:20px;
}
#u58_seg1 {
  position:absolute;
  left:148px;
  top:-10px;
  width:20px;
  height:126px;
}
#u59 {
  position:absolute;
  left:85px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:406px;
  top:1052px;
  width:170px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
}
#u61 {
  position:absolute;
  left:2px;
  top:46px;
  width:166px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:418px;
  top:1222px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u63 {
  position:absolute;
  left:2px;
  top:46px;
  width:142px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:491px;
  top:1162px;
  width:0px;
  height:60px;
}
#u64_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u65 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:641px;
  top:1052px;
  width:146px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u67 {
  position:absolute;
  left:2px;
  top:46px;
  width:142px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:576px;
  top:1107px;
  width:65px;
  height:0px;
}
#u68_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:79px;
  height:20px;
}
#u69 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
