﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:283px;
  top:116px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:283px;
  top:116px;
  width:360px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:283px;
  top:152px;
  width:360px;
  height:118px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:118px;
}
#u5 {
  position:absolute;
  left:2px;
  top:51px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:283px;
  top:116px;
  width:360px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:289px;
  top:124px;
  width:78px;
  height:28px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:452px;
  top:222px;
  width:34px;
  height:33px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:396px;
  top:226px;
  width:24px;
  height:24px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:527px;
  top:225px;
  width:24px;
  height:24px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:400px;
  top:180px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:500px;
  top:186px;
  width:41px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:288px;
  top:170px;
  width:96px;
  height:85px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:85px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:573px;
  top:239px;
  width:102px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:102px;
  height:1px;
}
#u23 {
  position:absolute;
  left:685px;
  top:237px;
  width:351px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:93px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:613px;
  top:170px;
  width:22px;
  height:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:635px;
  top:176px;
  width:102px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:102px;
  height:1px;
}
#u28 {
  position:absolute;
  left:750px;
  top:170px;
  width:163px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
