﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:8px;
  top:10px;
  width:1120px;
  height:794px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:794px;
}
#u1 {
  position:absolute;
  left:2px;
  top:389px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:69px;
  width:1120px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1120px;
  height:1px;
}
#u3 {
  position:absolute;
  left:587px;
  top:116px;
  width:458px;
  height:635px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:635px;
}
#u4 {
  position:absolute;
  left:2px;
  top:310px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:214px;
  top:572px;
  width:166px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:32px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:213px;
  top:279px;
  width:208px;
  height:24px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:784px;
  top:124px;
  width:150px;
  height:22px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:587px;
  top:147px;
  width:458px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:441px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u12 {
  position:absolute;
  left:587px;
  top:183px;
  width:458px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:441px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u13 {
  position:absolute;
  left:646px;
  top:152px;
  width:10px;
  height:599px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:582px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:599px;
}
#u14 {
  position:absolute;
  left:724px;
  top:152px;
  width:10px;
  height:599px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:582px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:599px;
}
#u15 {
  position:absolute;
  left:802px;
  top:152px;
  width:10px;
  height:599px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:582px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:599px;
}
#u16 {
  position:absolute;
  left:678px;
  top:163px;
  width:53px;
  height:16px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:754px;
  top:163px;
  width:53px;
  height:16px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:913px;
  top:163px;
  width:53px;
  height:16px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:587px;
  top:218px;
  width:458px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:441px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u23 {
  position:absolute;
  left:600px;
  top:198px;
  width:53px;
  height:16px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:678px;
  top:198px;
  width:53px;
  height:16px;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:823px;
  top:199px;
  width:202px;
  height:16px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:587px;
  top:253px;
  width:458px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:441px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u30 {
  position:absolute;
  left:587px;
  top:293px;
  width:458px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:441px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u31 {
  position:absolute;
  left:587px;
  top:391px;
  width:458px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:441px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:458px;
  height:1px;
}
#u32 {
  position:absolute;
  left:731px;
  top:198px;
  width:91px;
  height:16px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:600px;
  top:235px;
  width:53px;
  height:16px;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:678px;
  top:235px;
  width:53px;
  height:16px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:731px;
  top:235px;
  width:91px;
  height:16px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:822px;
  top:235px;
  width:202px;
  height:16px;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
