﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:280px;
  top:80px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:280px;
  top:80px;
  width:360px;
  height:75px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:80px;
  width:360px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:280px;
  top:420px;
  width:360px;
  height:300px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:300px;
}
#u7 {
  position:absolute;
  left:2px;
  top:142px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:450px;
  top:455px;
  width:13px;
  height:21px;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:450px;
  top:501px;
  width:13px;
  height:21px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:449px;
  top:592px;
  width:14px;
  height:21px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:449px;
  top:637px;
  width:14px;
  height:21px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:280px;
  top:532px;
  width:360px;
  height:45px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:449px;
  top:683px;
  width:13px;
  height:21px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:450px;
  top:546px;
  width:12px;
  height:21px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:730px;
  top:546px;
  width:140px;
  height:124px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:124px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:480px;
  top:548px;
  width:220px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u25 {
  position:absolute;
  left:638px;
  top:437px;
  width:302px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u26 {
  position:absolute;
  left:970px;
  top:431px;
  width:170px;
  height:150px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:590px;
  top:431px;
  width:38px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:292px;
  top:431px;
  width:38px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
