﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:255px;
  width:330px;
  height:196px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:196px;
}
#u1 {
  position:absolute;
  left:2px;
  top:90px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:159px;
  top:281px;
  width:183px;
  height:25px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:153px;
  top:379px;
  width:52px;
  height:52px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:215px;
  top:395px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:159px;
  top:307px;
  width:146px;
  height:25px;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:110px;
  top:570px;
  width:360px;
  height:640px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u11 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:110px;
  top:570px;
  width:360px;
  height:75px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u13 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:110px;
  top:570px;
  width:360px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:148px;
  top:610px;
  width:167px;
  height:24px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:118px;
  top:608px;
  width:30px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:110px;
  top:695px;
  width:360px;
  height:75px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u21 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:188px;
  top:715px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:130px;
  top:713px;
  width:40px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:188px;
  top:740px;
  width:242px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:380px;
  top:575px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:125px;
  top:32px;
  width:286px;
  height:33px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u33 {
  position:absolute;
  left:205px;
  top:401px;
  width:295px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u34 {
  position:absolute;
  left:527px;
  top:395px;
  width:173px;
  height:105px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:105px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1093px;
  top:232px;
  width:49px;
  height:33px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1093px;
  top:307px;
  width:417px;
  height:205px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:205px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1093px;
  top:522px;
  width:49px;
  height:33px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1093px;
  top:580px;
  width:417px;
  height:90px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:90px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:110px;
  top:894px;
  width:360px;
  height:75px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u45 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:188px;
  top:914px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:130px;
  top:912px;
  width:40px;
  height:40px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:110px;
  top:814px;
  width:360px;
  height:75px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u51 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:188px;
  top:834px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:130px;
  top:832px;
  width:40px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:188px;
  top:860px;
  width:232px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:110px;
  top:974px;
  width:360px;
  height:75px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u59 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:188px;
  top:994px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:130px;
  top:992px;
  width:40px;
  height:40px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:188px;
  top:1020px;
  width:232px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:188px;
  top:1020px;
  width:232px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:188px;
  top:940px;
  width:232px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:188px;
  top:940px;
  width:232px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:420px;
  top:927px;
  width:80px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u73 {
  position:absolute;
  left:527px;
  top:921px;
  width:173px;
  height:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
